Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus

add iac
  components/terraform/api-sv1.tf
  components/terraform/api-sv2.tf
  components/terraform/main.tf
  components/terraform/proxy.tf
Owners: @foxminchan

add nginx cfg
  apps/cms/nginx/default.conf
  apps/cms/nginx/nginx.conf
Owners: @foxminchan

add visit hub method and add some files on flutter
  apps/profio-app/lib/pages/home/home_page.dart
  apps/profio-app/lib/stores/location_store.dart
  apps/profio-app/lib/stores/vehicle_store.dart
  apps/profio-app/lib/stores/vehicle_store.g.dart
  apps/profio-app/lib/widgets/simulate_button.dart
Owners: @Slimaeus

env types added
  apps/cms/@types/global.d.ts
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
  apps/cms/app/api/maps/directions/route.ts
Owners: @foxminchan

removed navigation events
  apps/cms/app/layout.tsx
Owners: @foxminchan

fix issue
  libs/Profio.Infrastructure/Persistence/Converter/TimeSpanConverter.cs
Owners: @foxminchan

fix python issue
  assets/dac/az-api.py
  components/utils/distance.py
Owners: @foxminchan

bug: fix util
  components/utils/distance.py
Owners: @foxminchan

change app name and fix fetch vehicle list error
  apps/profio-app/android/app/src/main/AndroidManifest.xml
  apps/profio-app/lib/stores/hub_store.dart
  apps/profio-app/lib/stores/location_store.dart
  apps/profio-app/lib/stores/vehicle_store.dart
  apps/profio-app/lib/stores/vehicle_store.g.dart
  apps/profio-app/lib/widgets/vehicle_list.dart
Owners: @Slimaeus

add map and install some packages
  apps/profio-app/lib/managers/router_manager.dart
  apps/profio-app/lib/pages/home/home_page.dart
  apps/profio-app/lib/pages/map/map_page.dart
  apps/profio-app/lib/stores/location_store.dart
  apps/profio-app/lib/widgets/visit_button.dart
Owners: @Slimaeus

update packages
  apps/profio-app/android/app/build.gradle
  apps/profio-app/android/app/src/main/AndroidManifest.xml
  apps/profio-app/pubspec.yaml
Owners: @Slimaeus

update tf
  components/terraform/api-sv1.tf
  components/terraform/api-sv2.tf
Owners: @foxminchan

update RM
  README.md
Owners: @foxminchan

update location manager
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/pages/map/map_page.dart
  apps/profio-app/lib/stores/location_store.dart
Owners: @Slimaeus

fix render loop google map
  apps/profio-app/lib/pages/map/map_page.dart
Owners: @Slimaeus

added google map embed
  apps/cms/@types/global.d.ts
  apps/cms/@types/util.d.ts
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
  apps/cms/app/api/maps/directions/route.ts
  apps/cms/features/example/example.service.ts
  apps/cms/features/order/order.service.ts
  apps/cms/features/order/useGetOrderHubsPath.ts
  apps/cms/next.config.js
Owners: @foxminchan, @fiezt1492, @MeiCloudie

update icon for get polyline
  apps/profio-app/lib/pages/map/map_page.dart
Owners: @Slimaeus

get idle vehicle only
  libs/Profio.Application/Orders/Queries/GetAvailableVehicleByOrderIdWithPagingQuery.cs
Owners: @foxminchan

add sms and emailing
  apps/Profio.Api/Profio.Api.csproj.user
  apps/Profio.Api/Templates/OrderInfo.liquid
  apps/Profio.Api/UseCases/v1/OrdersController.cs
  apps/Profio.Api/UseCases/v1/SenderController.cs
  apps/Profio.Api/appsettings.Development.json
  apps/Profio.Api/appsettings.json
  libs/Profio.Domain/Contracts/OrderInfo.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Email/Extension.cs
  libs/Profio.Infrastructure/Email/FluentEmail/Email.cs
  libs/Profio.Infrastructure/Exceptions/SmsException.cs
  libs/Profio.Infrastructure/Message/IMessageService.cs
  libs/Profio.Infrastructure/Message/MessageService.cs
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @nhonvo, @Slimaeus, @foxminchan

add message type
  apps/Profio.Api/UseCases/v1/SenderController.cs
  libs/Profio.Domain/Constants/MessageType.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

add email by status
  apps/Profio.Api/Templates/Order.liquid
  apps/Profio.Api/UseCases/v1/SenderController.cs
  libs/Profio.Domain/Constants/EmailType.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

add query param
  apps/Profio.Api/UseCases/v1/SenderController.cs
Owners: @nhonvo, @Slimaeus

add map version
  apps/Profio.Api/UseCases/v1/SenderController.cs
Owners: @nhonvo, @Slimaeus

add form name
  apps/Profio.Api/Templates/Order.liquid
  libs/Profio.Infrastructure/Email/Extension.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

added stepper minor form fixed
  apps/cms/@types/global.d.ts
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderStepper.tsx
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
  apps/cms/app/(dash)/orders/page.tsx
  apps/cms/features/order/order.service.ts
  apps/cms/features/order/order.types.ts
  apps/cms/features/order/useGetOrderDeliveries.ts
  apps/cms/features/order/useGetOrderHubsPath.ts
  apps/cms/next.config.js
Owners: @foxminchan, @fiezt1492, @MeiCloudie

(CMS) Added order stepper (#184)
  apps/cms/@types/global.d.ts
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderStepper.tsx
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
  apps/cms/app/(dash)/orders/page.tsx
  apps/cms/features/order/order.service.ts
  apps/cms/features/order/order.types.ts
  apps/cms/features/order/useGetOrderDeliveries.ts
  apps/cms/features/order/useGetOrderHubsPath.ts
  apps/cms/next.config.js
Owners: @foxminchan, @fiezt1492, @MeiCloudie

update the get current location
  apps/profio-app/lib/pages/map/map_page.dart
  apps/profio-app/lib/stores/location_store.dart
Owners: @Slimaeus

update package .NET
  apps/Profio.Api/Profio.Api.csproj
  apps/Profio.Proxy/Profio.Proxy.csproj
  libs/Profio.Domain/Profio.Domain.csproj
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @nhonvo, @Slimaeus, @foxminchan

fix sender controller
  apps/Profio.Api/Profio.Api.csproj
  apps/Profio.Api/UseCases/v1/SenderController.cs
  apps/Profio.Api/wwwroot/Templates/Order.liquid
  libs/Profio.Infrastructure/Filters/ExceptionFilter.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

remove unsued code
  apps/Profio.Api/Profio.Api.csproj
Owners: @nhonvo, @Slimaeus

fix docker
  apps/Profio.Api/Profio.Api.csproj.user
  components/docker/docker-compose.yml
  components/docker/otel-collector-config.yaml
  libs/Profio.Infrastructure/Logging/Extension.cs
  libs/Profio.Infrastructure/Logging/Serilog.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

add .env.local
  apps/cms/.env.local
Owners: @fiezt1492, @MeiCloudie

update pages
  apps/cms/app/(dash)/hubs/page.tsx
  apps/cms/app/(dash)/incidents/page.tsx
  apps/cms/app/(dash)/orders/page.tsx
  apps/cms/components/providers/Providers.tsx
  apps/profio-app/lib/stores/vehicle_store.dart
Owners: @foxminchan, @Slimaeus

resolve type
  apps/cms/app/api/maps/directions/route.ts
Owners: @foxminchan

Update .env.local
  apps/cms/.env.local
Owners: @fiezt1492, @MeiCloudie

rm test
  apps/Profio.Api.Test/GlobalUsings.cs
  apps/Profio.Api.Test/ProfioApi.Test.csproj
  apps/Profio.Api.Test/UnitTest1.cs
  apps/Profio.Api.Test/project.json
  apps/cms-e2e/.eslintrc.json
  apps/cms-e2e/cypress.config.ts
  apps/cms-e2e/project.json
  apps/cms-e2e/src/e2e/app.cy.ts
  apps/cms-e2e/src/fixtures/example.json
  apps/cms-e2e/src/support/app.po.ts
  apps/cms-e2e/src/support/commands.ts
  apps/cms-e2e/src/support/e2e.ts
  apps/cms-e2e/tsconfig.json
  package-lock.json
  package.json
Owners: @nhonvo, @fiezt1492, @MeiCloudie, @foxminchan

add msvc
  package-lock.json
  package.json
Owners: @foxminchan

rm heavy package
  assets/img/graph.png
  package-lock.json
  package.json
Owners: @foxminchan

rm heavy package
  package-lock.json
  package.json
Owners: @foxminchan

add msvc
  package-lock.json
  package.json
Owners: @foxminchan
