Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-black-water-03bfdff00.yml
Owners: @foxminchan

Delete .github/workflows/azure-static-web-apps-black-water-03bfdff00.yml
  .github/workflows/azure-static-web-apps-black-water-03bfdff00.yml
Owners: @foxminchan

update sln
  Profio.sln
Owners: @foxminchan

update docs
  assets/slides/school-presentation.pdf
Owners: @foxminchan

remove sms
  apps/Profio.Api/UseCases/v1/SenderController.cs
  apps/Profio.Api/appsettings.Development.json
  apps/Profio.Api/appsettings.json
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Message/Extension.cs
  libs/Profio.Infrastructure/Message/IMessageService.cs
  libs/Profio.Infrastructure/Message/MessageService.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update techstack docs
  apps/docs/src/components/TechStackSection.js
  apps/docs/src/pages/index.tsx
Owners: @foxminchan

update swagger tag for HubsController
  apps/Profio.Api/UseCases/v1/HubsController.cs
Owners: @nhonvo, @Slimaeus

update local img
  apps/docs/src/components/TechStackSection.js
  apps/docs/static/img/tech/dotnet.png
  apps/docs/static/img/tech/flutter.png
  apps/docs/static/img/tech/nextjs.png
Owners: @foxminchan

update index docs
  apps/docs/src/components/SponorsAndOrganization.js
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
  apps/docs/static/img/organization/cj.png
  apps/docs/static/img/organization/hutech.png
  apps/docs/static/img/tech/docusaurus.png
Owners: @foxminchan

refac code
  apps/docs/src/components/FeatureSection.js
  apps/docs/src/components/SvgIcon.js
  apps/docs/src/components/TechStackSection.js
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/markdown-page.md
  apps/docs/static/img/container.svg
Owners: @foxminchan

add intro
  apps/docs/docs/bussiness-scenario/_category_.json
  apps/docs/docs/bussiness-scenario/img/docsVersionDropdown.png
  apps/docs/docs/bussiness-scenario/img/localeDropdown.png
  apps/docs/docs/bussiness-scenario/manage-docs-versions.md
  apps/docs/docs/bussiness-scenario/translate-your-site.md
  apps/docs/docs/intro.md
  apps/docs/docs/system-design/_category_.json
  apps/docs/docs/system-design/congratulations.md
  apps/docs/docs/system-design/create-a-blog-post.md
  apps/docs/docs/system-design/create-a-document.md
  apps/docs/docs/system-design/create-a-page.md
  apps/docs/docs/system-design/deploy-your-site.md
  apps/docs/docs/system-design/markdown-features.mdx
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docusaurus.config.js
  apps/docs/static/img/hutech-cj.jpg
Owners: @foxminchan

add cj font
  apps/docs/src/css/custom.css
  apps/docs/static/fonts/CJONLYONE-body-Regular.woff
  apps/docs/static/fonts/CJONLYONE-title-Bold.woff
  apps/docs/static/fonts/CJONLYONE-title-Medium.woff
Owners: @foxminchan

fix card
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
Owners: @foxminchan

update SeedDataQuery
  apps/Profio.Api/UseCases/v1/SenderController.cs
  libs/Profio.Application/Seed/Queries/SeedDataQuery.cs
  libs/Profio.Domain/Entities/Customer.cs
  libs/Profio.Domain/Entities/Order.cs
  libs/Profio.Domain/Entities/Vehicle.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

remove redundant MapToApiVersion attribute and add summary for endpoints
  apps/Profio.Api/UseCases/v1/UsersController.cs
Owners: @nhonvo, @Slimaeus

add summary and remove MapToApiVersion for CountersController
  apps/Profio.Api/UseCases/v1/CountersController.cs
Owners: @nhonvo, @Slimaeus

update customers controller
  apps/Profio.Api/UseCases/v1/CustomersController.cs
Owners: @nhonvo, @Slimaeus

update swagger summary for Delivery adn Delivery Progress Controller
  apps/Profio.Api/UseCases/v1/DeliveriesController.cs
  apps/Profio.Api/UseCases/v1/DeliveryProgressesController.cs
Owners: @nhonvo, @Slimaeus

update swagger summary for hub, incident, order history, order controllers
  apps/Profio.Api/UseCases/v1/HubsController.cs
  apps/Profio.Api/UseCases/v1/IncidentsController.cs
  apps/Profio.Api/UseCases/v1/OrderHistoriesController.cs
  apps/Profio.Api/UseCases/v1/OrdersController.cs
Owners: @nhonvo, @Slimaeus

update the rest controllers's swagger summary
  apps/Profio.Api/UseCases/v1/ResultsController.cs
  apps/Profio.Api/UseCases/v1/RoutesController.cs
  apps/Profio.Api/UseCases/v1/SeedController.cs
  apps/Profio.Api/UseCases/v1/SenderController.cs
  apps/Profio.Api/UseCases/v1/StaffsController.cs
  apps/Profio.Api/UseCases/v1/SystemController.cs
  apps/Profio.Api/UseCases/v1/VehiclesController.cs
Owners: @nhonvo, @Slimaeus

add description for swagger param entityTypes in CountersController
  apps/Profio.Api/UseCases/v1/CountersController.cs
Owners: @nhonvo, @Slimaeus

feat(staff): update crud
  apps/cms/app/(dash)/staffs/AddStaff.tsx
  apps/cms/app/(dash)/staffs/DeleteStaff.tsx
  apps/cms/app/(dash)/staffs/EditStaff.tsx
  apps/cms/app/(dash)/staffs/StaffForm.tsx
  apps/cms/app/(dash)/staffs/StaffList.tsx
  apps/cms/app/(dash)/staffs/[staffId]/page.tsx
  apps/cms/components/ActionForList.tsx
  apps/cms/features/staff/staff.service.ts
  apps/cms/features/staff/staff.types.ts
  apps/cms/features/staff/useUpdateStaff.ts
Owners: @foxminchan

feat(staff): update type for onSubmit in StaffForm
  apps/cms/app/(dash)/staffs/EditStaff.tsx
  apps/cms/app/(dash)/staffs/StaffForm.tsx
Owners: @foxminchan

update template path
  apps/Profio.Api/Templates/Order.liquid
  apps/Profio.Api/UseCases/v1/SenderController.cs
Owners: @nhonvo, @Slimaeus

feat(staff): update Staff Statistics Card
  apps/cms/app/(dash)/staffs/StaffStatisticsCard.tsx
Owners: @foxminchan

feat(staff): update staff details page
  apps/cms/app/(dash)/staffs/StaffList.tsx
  apps/cms/app/(dash)/staffs/[staffId]/page.tsx
Owners: @foxminchan

add bussiness page docs
  apps/docs/docs/bussiness-scenario/bussiness.md
  apps/docs/docs/bussiness-scenario/context.md
  apps/docs/docs/bussiness-scenario/manage-docs-versions.md
  apps/docs/docs/bussiness-scenario/translate-your-site.md
  apps/docs/docusaurus.config.js
  apps/docs/src/pages/index.tsx
  apps/docs/static/img/context/customer.png
  apps/docs/static/img/context/incidents.jpg
  apps/docs/static/img/context/logistics.jpg
  apps/docs/static/img/context/vehicle.webp
  assets/draw.io/erd.drawio
  package-lock.json
  package.json
Owners: @foxminchan

update docs
  apps/docs/blog/2019-05-28-first-blog-post.md
  apps/docs/blog/2019-05-29-long-blog-post.md
  apps/docs/blog/2021-08-01-mdx-blog-post.mdx
  apps/docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  apps/docs/blog/2021-08-26-welcome/index.md
  apps/docs/blog/authors.yml
  apps/docs/docs/bussiness-scenario/bussiness.md
  apps/docs/docs/bussiness-scenario/context.md
  apps/docs/docs/bussiness-scenario/entity.md
  apps/docs/docs/bussiness-scenario/img/docsVersionDropdown.png
  apps/docs/docs/bussiness-scenario/img/localeDropdown.png
  apps/docs/docs/bussiness-scenario/usecase.md
  apps/docs/docs/system-design/buildingblock.md
  apps/docs/docs/system-design/congratulations.md
  apps/docs/docs/system-design/create-a-blog-post.md
  apps/docs/docs/system-design/create-a-document.md
  apps/docs/docs/system-design/create-a-page.md
  apps/docs/docs/system-design/deploy-your-site.md
  apps/docs/docs/system-design/markdown-features.mdx
  apps/docs/docusaurus.config.js
  apps/docs/src/css/custom.css
  apps/docs/static/fonts/Poppins-Regular.ttf
  apps/docs/static/fonts/Poppins-SemiBold.ttf
Owners: @foxminchan

update docs
  apps/docs/docs/bussiness-scenario/entity.md
  apps/docs/docs/intro.md
  apps/docs/docusaurus.config.js
  apps/docs/static/icon-192x192.png
  apps/docs/static/icon-256x256.png
  apps/docs/static/icon-384x384.png
  apps/docs/static/icon-512x512.png
  apps/docs/static/manifest.json
  apps/docs/static/robots.txt
  package-lock.json
  package.json
Owners: @foxminchan

update url
  apps/docs/docusaurus.config.js
Owners: @foxminchan

rm msvc
  package-lock.json
  package.json
Owners: @foxminchan

rm unused file
  requirements.txt
  setup.py
Owners: @foxminchan

Update config.yml
  .circleci/config.yml
Owners: @foxminchan

Update config.yml
  .circleci/config.yml
Owners: @foxminchan

Update config.yml
  .circleci/config.yml
Owners: @foxminchan

Update config.yml
  .circleci/config.yml
Owners: @foxminchan

Update config.yml
  .circleci/config.yml
Owners: @foxminchan

Delete .circleci/config.yml
  .circleci/config.yml
Owners: @foxminchan

Create ci.yml
  .github/workflows/ci.yml
Owners: @foxminchan

Update ci.yml
  .github/workflows/ci.yml
Owners: @foxminchan
