Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

Update README.md
  README.md
Owners: @foxminchan

update workfow
  assets/draw.io/ci-cd.drawio
  assets/img/ci-cd.png
Owners: @foxminchan

update pkg
  libs/Profio.Domain/Profio.Domain.csproj
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @nhonvo, @Slimaeus

fix bg width docs
  apps/docs/src/css/custom.css
Owners: @foxminchan

fix eslint
  package-lock.json
  package.json
Owners: @foxminchan

fix pkg
  package-lock.json
  package.json
Owners: @foxminchan

fix mdx pkg
  package-lock.json
  package.json
Owners: @foxminchan

update sql script
  database/inital-db.sql
Owners: @foxminchan

fix style
  apps/docs/src/css/custom.css
Owners: @foxminchan

update md docs
  apps/docs/docs/bussiness-scenario/context.mdx
  apps/docs/docs/intro.md
  apps/docs/docs/intro.mdx
  apps/docs/src/css/custom.css
Owners: @foxminchan

change static to const
  libs/Profio.Domain/Constants/PathSeed.cs
Owners: @foxminchan

feat(vehicle): update service for vehicle
  apps/cms/features/vehicle/useCountByVehicleType.ts
  apps/cms/features/vehicle/useCreateVehicle.ts
  apps/cms/features/vehicle/useDeleteVehicle.ts
  apps/cms/features/vehicle/useGetVehicle.ts
  apps/cms/features/vehicle/useUpdateVehicle.ts
  apps/cms/features/vehicle/vehicle.service.ts
Owners: @foxminchan

update style
  libs/Profio.Application/Hubs/Queries/GetDestinationAddressByVehicleIdQuery.cs
  libs/Profio.Application/Hubs/Queries/GetHubWithPagingQuery.cs
  libs/Profio.Application/Hubs/Queries/GetNextHubByVehicleIdQuery.cs
Owners: @foxminchan

add sealed for controllers
  apps/Profio.Api/UseCases/v1/CountersController.cs
  apps/Profio.Api/UseCases/v1/CustomersController.cs
  apps/Profio.Api/UseCases/v1/DeliveriesController.cs
  apps/Profio.Api/UseCases/v1/DeliveryProgressesController.cs
  apps/Profio.Api/UseCases/v1/HubsController.cs
  apps/Profio.Api/UseCases/v1/IncidentsController.cs
  apps/Profio.Api/UseCases/v1/OrderHistoriesController.cs
  apps/Profio.Api/UseCases/v1/OrdersController.cs
  apps/Profio.Api/UseCases/v1/ResultsController.cs
  apps/Profio.Api/UseCases/v1/RoutesController.cs
  apps/Profio.Api/UseCases/v1/SeedController.cs
  apps/Profio.Api/UseCases/v1/SenderController.cs
  apps/Profio.Api/UseCases/v1/StaffsController.cs
  apps/Profio.Api/UseCases/v1/SystemController.cs
  apps/Profio.Api/UseCases/v1/UsersController.cs
  apps/Profio.Api/UseCases/v1/VehiclesController.cs
Owners: @nhonvo, @Slimaeus

add seed zipCodeCurrent for vehicle
  libs/Profio.Application/Seed/Queries/SeedDataQuery.cs
Owners: @foxminchan

feat(vehicle): update vehicle list
  apps/cms/app/(dash)/vehicles/AddVehicle.tsx
  apps/cms/app/(dash)/vehicles/DeleteVehicle.tsx
  apps/cms/app/(dash)/vehicles/EditVehicle.tsx
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]
  apps/cms/app/(dash)/vehicles/page.tsx
  apps/cms/features/staff/staff.service.ts
  apps/cms/features/vehicle/vehicle.types.ts
Owners: @foxminchan

update docs
  README.md
  apps/docs/docs/api-design/_category_.json
  apps/docs/docs/api-design/apidesign.md
  apps/docs/docs/bussiness-scenario/bpmn.md
  apps/docs/docs/bussiness-scenario/context.mdx
  apps/docs/docs/bussiness-scenario/entity.md
  apps/docs/docs/bussiness-scenario/event.md
  apps/docs/docs/bussiness-scenario/usecase.md
  apps/docs/docs/bussiness-scenario/userstory.md
  apps/docs/docs/bussiness-scenario/wbs.md
  apps/docs/docs/development/_category_.json
  apps/docs/docs/development/setup.md
  apps/docs/docs/screenshoot/_category_.json
  apps/docs/docs/screenshoot/cms.md
  apps/docs/docs/system-design/c4.md
  apps/docs/docs/system-design/cicd.md
  apps/docs/docs/system-design/component.md
Owners: @foxminchan

update optimize
  libs/Profio.Infrastructure/Persistence/Extension.cs
  libs/Profio.Infrastructure/Persistence/Optimization/ApplicationDbContextModel.cs
  libs/Profio.Infrastructure/Persistence/Optimization/ApplicationDbContextModelBuilder.cs
  libs/Profio.Infrastructure/Persistence/Optimization/ApplicationUserEntityType.cs
  libs/Profio.Infrastructure/Persistence/Optimization/IncidentEntityType.cs
  libs/Profio.Infrastructure/Persistence/Optimization/OrderEntityType.cs
  libs/Profio.Infrastructure/Persistence/Optimization/PhaseEntityType.cs
Owners: @foxminchan

feat(vehicle): update staff information in list and create vehicle details page
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]
  apps/cms/app/(dash)/vehicles/[vehicleId]/page.tsx
Owners: @foxminchan

refactor(vehicle): split component
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleStaffCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleStatusCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleTypeCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/page.tsx
Owners: @foxminchan

feat(vehicle): create stat
  apps/cms/app/(dash)/vehicles/VehicleStatisticsCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleStatusCard.tsx
  apps/cms/app/(dash)/vehicles/page.tsx
Owners: @foxminchan

fix: update state staff and vehicle form
  apps/cms/app/(dash)/staffs/StaffForm.tsx
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
Owners: @foxminchan

fix(vehicle): update vehicle form
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
Owners: @foxminchan

chore(vehicle): edit label in vehicle form
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
Owners: @foxminchan

feat: update vehicle form and dialog component
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
  apps/cms/components/ActionForList.tsx
  apps/cms/components/FormDialog.tsx
Owners: @foxminchan

feat(signin): update sign in page
  apps/cms/app/auth/sign-in/page.tsx
  apps/cms/components/LoadingButton.tsx
  apps/cms/public/images/CJ_logo.png
Owners: @foxminchan

add usecase docs
  apps/docs/docs/bussiness-scenario/_category_.json
  apps/docs/docs/bussiness-scenario/bussiness.md
  apps/docs/docs/bussiness-scenario/context.mdx
  apps/docs/docs/bussiness-scenario/entity.md
  apps/docs/docs/bussiness-scenario/usecase.md
  apps/docs/docs/development/_category_.json
  apps/docs/docs/intro.mdx
  apps/docs/docs/screenshoot/_category_.json
  apps/docs/docusaurus.config.js
  package-lock.json
  package.json
Owners: @foxminchan

add get vehicle count by status
  apps/Profio.Api/Profio.Api.csproj.user
  apps/Profio.Api/UseCases/v1/VehiclesController.cs
  libs/Profio.Application/Vehicles/Queries/GetVehicleCountByStatusQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update stat vehicle
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
  apps/cms/app/(dash)/vehicles/VehicleStatisticsCard.tsx
  apps/cms/features/vehicle/useCountByVehicleStatus.ts
  apps/cms/features/vehicle/vehicle.service.ts
Owners: @foxminchan

remove redundant code
  apps/cms/app/(dash)/vehicles/VehicleStatisticsCard.tsx
Owners: @foxminchan

update layout
  apps/cms/components/ThemeRegistry/theme.ts
  apps/cms/components/paperbase/Header.tsx
  apps/cms/components/paperbase/Navigator.tsx
  apps/cms/components/paperbase/Paperbase.tsx
Owners: @foxminchan

update docs
  apps/Profio.Api/UseCases/v1/DeliveriesController.cs
  apps/docs/docs/bussiness-scenario/bpmn.md
  apps/docs/docs/bussiness-scenario/event.md
  apps/docs/docs/bussiness-scenario/userstory.md
  apps/docs/docs/bussiness-scenario/wbs.md
  apps/docs/docusaurus.config.js
  apps/docs/src/css/custom.css
  apps/docs/static/img/cj-banner.png
  apps/docs/static/img/cj-banner.webp
  apps/docs/static/img/event/aggerateroot.png
  apps/docs/static/img/event/bounded-context.png
  apps/docs/static/img/event/domain-event.png
  apps/docs/static/img/school.png
Owners: @nhonvo, @Slimaeus, @foxminchan

update dynamic pdate docs
  apps/docs/docs/bussiness-scenario/bussiness.md
  apps/docs/docs/bussiness-scenario/context.mdx
  apps/docs/docs/bussiness-scenario/entity.md
  apps/docs/docs/bussiness-scenario/event.md
  apps/docs/docs/bussiness-scenario/usecase.md
  apps/docs/docs/bussiness-scenario/userstory.md
  apps/docs/docs/intro.mdx
  apps/docs/docusaurus.config.js
Owners: @foxminchan

add PhaseDto
  libs/Profio.Application/Phases/PhaseDto.cs
  libs/Profio.Application/Profio.Application.csproj
Owners: @foxminchan, @nhonvo, @Slimaeus

Add Phase logic
  apps/Profio.Api/UseCases/v1/PhasesController.cs
  libs/Profio.Application/Orders/Validators/OrderExistenceByIdValidator.cs
  libs/Profio.Application/Orders/Validators/OrderExistenceByNotNullValidator.cs
  libs/Profio.Application/Phases/Commands/CreatePhaseCommand.cs
  libs/Profio.Application/Phases/Commands/DeletePhaseCommand.cs
  libs/Profio.Application/Phases/Commands/UpdatePhaseCommand.cs
  libs/Profio.Application/Phases/PhaseProfile.cs
  libs/Profio.Application/Phases/Queries/GetPhaseByIdQuery.cs
  libs/Profio.Application/Phases/Queries/GetPhaseWithPagingQuery.cs
  libs/Profio.Application/Profio.Application.csproj
  libs/Profio.Application/Routes/Validators/RouteExistenceByIdValidator.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230920013157_UpdatePhasesTable.Designer.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230920013157_UpdatePhasesTable.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

Update seed data and seed data query
  libs/Profio.Application/Seed/Queries/SeedDataQuery.cs
  libs/Profio.Infrastructure/Persistence/Seeding/Order.json
  libs/Profio.Infrastructure/Persistence/Seeding/Staff.json
Owners: @foxminchan

Update database migration and add obsolete description
  apps/Profio.Api/UseCases/v1/OrderHistoriesController.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230831161340_Init.Designer.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230831161340_Init.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230901070444_EditEntities.Designer.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230901070444_EditEntities.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230901152004_ZipCodeInHubNotFixedAnymore.Designer.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230901152004_ZipCodeInHubNotFixedAnymore.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230909090900_Impotency.Designer.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230909090900_Impotency.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230911133630_AddCreateDeliveryTrigger.Designer.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230911133630_AddCreateDeliveryTrigger.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230918113845_UpdateDB.Designer.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230918113845_UpdateDB.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230920013157_UpdatePhasesTable.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230920015017_Init.Designer.cs
  libs/Profio.Infrastructure/Persistence/Migrations/20230920015017_Init.cs
  libs/Profio.Infrastructure/Persistence/Seeding/Order.json
Owners: @nhonvo, @Slimaeus, @foxminchan

update modifier for validators
  libs/Profio.Application/Phases/Commands/CreatePhaseCommand.cs
  libs/Profio.Application/Phases/Commands/DeletePhaseCommand.cs
  libs/Profio.Application/Phases/Commands/UpdatePhaseCommand.cs
  libs/Profio.Application/Phases/Queries/GetPhaseWithPagingQuery.cs
Owners: @foxminchan

add count order by status
  apps/Profio.Api/UseCases/v1/OrdersController.cs
  libs/Profio.Application/Orders/Queries/GetOrderCountByStatusQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update order service
  apps/cms/features/order/order.service.ts
  apps/cms/features/order/order.types.ts
  apps/cms/features/order/useCountByOrderStatus.ts
  apps/cms/features/order/useCreateOrder.ts
  apps/cms/features/order/useDeleteOrder.ts
  apps/cms/features/order/useUpdateOrder.ts
Owners: @foxminchan

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus
