Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus

update setting card
  apps/cms/app/(dash)/settings/ChangePasswordCard.tsx
  apps/cms/app/(dash)/settings/UserDetailsCard.tsx
  apps/cms/app/(dash)/settings/page.tsx
Owners: @foxminchan

update settings menu
  apps/cms/components/paperbase/Header.tsx
  apps/cms/components/paperbase/Navigator.tsx
Owners: @foxminchan

fix api fectch
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Program.cs
Owners: @foxminchan

fix missing staff in userDto and accountDto, send signalR message by order Id group
  apps/Profio.Api/Extensions/HostingExtensions.cs
  apps/Profio.Api/Program.cs
  apps/Profio.Api/UseCases/v1/UsersController.cs
  libs/Profio.Application/Users/AccountDTO.cs
  libs/Profio.Application/Users/Commands/Login/LoginCommand.cs
  libs/Profio.Application/Users/Commands/Register/RegisterCommand.cs
  libs/Profio.Application/Users/Queries/CheckAuthorizationQuery.cs
  libs/Profio.Application/Users/UserDTO.cs
  libs/Profio.Application/Vehicles/Queries/GetOrderByVehicleIdWithPagingQuery.cs
  libs/Profio.Domain/Contracts/VehicleLocation.cs
  libs/Profio.Infrastructure/Abstractions/CQRS/Validators/CriteriaValidator.cs
  libs/Profio.Infrastructure/Bus/MQTT/Internal/MqttClientService.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Hub/ILocationClient.cs
  libs/Profio.Infrastructure/Hub/LocationHub.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

make upload image obsolete
  apps/Profio.Api/UseCases/v1/UsersController.cs
Owners: @nhonvo, @Slimaeus

wont load map if no hubs
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
  apps/cms/common/hooks/useSignalR.ts
Owners: @foxminchan

current order location added
  apps/cms/@types/value.d.ts
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

update navigator
  apps/cms/components/navItems.tsx
  apps/cms/components/paperbase/Navigator.tsx
Owners: @foxminchan

get current orders query
  apps/Profio.Api/Profio.Api.csproj.user
  apps/Profio.Api/UseCases/v1/VehiclesController.cs
  libs/Profio.Application/Vehicles/Queries/GetCurrentOrderByVehicleIdWithPagingQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

fixed smell code
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
  apps/cms/common/hooks/useSignalR.ts
Owners: @foxminchan

Update dependabot.yml
  .github/dependabot.yml
Owners: @foxminchan

convert directions service options to state
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

undeclared imports removed
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

fiexed null state
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

order location track button
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

add order and update simulate function
  apps/profio-app/lib/constants/profio.dart
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/models/order.dart
  apps/profio-app/lib/models/order.g.dart
  apps/profio-app/lib/models/vehicle_location.dart
  apps/profio-app/lib/models/vehicle_location.g.dart
  apps/profio-app/lib/stores/location_store.dart
  apps/profio-app/lib/stores/location_store.g.dart
  apps/profio-app/lib/stores/vehicle_store.dart
  apps/profio-app/lib/widgets/simulate_button.dart
Owners: @Slimaeus

new markers
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

update settings page for user with staff info
  apps/cms/app/(dash)/settings/ChangePasswordCard.tsx
  apps/cms/app/(dash)/settings/UserDetailsCard.tsx
  apps/cms/app/(dash)/settings/page.tsx
  apps/cms/app/(dash)/users/UserList.tsx
  apps/cms/components/CopyTextButton.tsx
  apps/cms/features/user/user.types.ts
Owners: @foxminchan

remove some stat
  apps/cms/app/(dash)/OverviewStats.tsx
  apps/cms/app/(dash)/page.tsx
Owners: @foxminchan

add delegate for website
  apps/Profio.Website/Delegate/LoggingDelegate.cs
  apps/Profio.Website/Delegate/RetryDelegate.cs
  apps/Profio.Website/Program.cs
Owners: @foxminchan

create vehicle pie chart
  apps/cms/app/(dash)/page.tsx
  apps/cms/components/charts/vehicle/VehicleStatusBarChart.tsx
  apps/cms/components/charts/vehicle/VehicleTypePieChart.tsx
  package-lock.json
  package.json
Owners: @foxminchan

update vehicle pie and bar chart
  apps/cms/app/(dash)/page.tsx
  apps/cms/components/charts/vehicle/VehicleStatusBarChart.tsx
  apps/cms/components/charts/vehicle/VehicleTypePieChart.tsx
Owners: @foxminchan

create staff pie chart
  apps/cms/app/(dash)/page.tsx
  apps/cms/components/charts/order/OrderStatusPieChart.tsx
  apps/cms/components/charts/staff/StaffPositionPieChart.tsx
Owners: @foxminchan

add email sender for website
  apps/Profio.Api/Profio.Api.csproj
  apps/Profio.Api/UseCases/v1/ResultsController.cs
  apps/Profio.Proxy/Profio.Proxy.csproj
  apps/Profio.Website/Pages/Contact.razor
  apps/Profio.Website/Pages/Contact.razor.cs
  apps/Profio.Website/Pages/Index.razor
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Pages/Service.razor
  apps/Profio.Website/Pages/Service.razor.cs
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/appsettings.Development.json
  apps/Profio.Website/appsettings.json
  libs/Profio.Application/Hubs/Queries/GetDestinationAddressByVehicleIdQuery.cs
  libs/Profio.Application/Hubs/Queries/GetNextHubByVehicleIdQuery.cs
  libs/Profio.Application/Orders/Queries/GetAvailableVehicleByOrderIdWithPagingQuery.cs
  libs/Profio.Application/Orders/Queries/GetHubPathByOrderIdQuery.cs
  libs/Profio.Application/Users/Commands/Register/RegisterCommand.cs
  libs/Profio.Application/Vehicles/Commands/VisitHubCommand.cs
  libs/Profio.Domain/Exceptions/ConnectDatabaseException.cs
  libs/Profio.Domain/Exceptions/NotFoundException.cs
  libs/Profio.Infrastructure/Abstractions/CQRS/Handlers/Command/DeleteCommandHandlerBase.cs
  libs/Profio.Infrastructure/Abstractions/CQRS/Handlers/Command/UpdateCommandHandlerBase.cs
  libs/Profio.Infrastructure/Abstractions/CQRS/Handlers/Queries/GetByIdQueryHandlerBase.cs
  libs/Profio.Infrastructure/Filters/ExceptionFilter.cs
  libs/Profio.Infrastructure/Persistence/Extension.cs
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @nhonvo, @Slimaeus, @foxminchan

add get hub by vehicle id
  apps/Profio.Api/UseCases/v1/VehiclesController.cs
  apps/profio-app/lib/stores/location_store.dart
  libs/Profio.Application/Vehicles/Queries/GetHubPathByVehicleIdQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update chart
  apps/cms/app/(dash)/page.tsx
  apps/cms/components/charts/order/OrderStatusPieChart.tsx
  apps/cms/components/charts/staff/StaffPositionPieChart.tsx
  apps/cms/components/charts/vehicle/VehicleTypePieChart.tsx
Owners: @foxminchan

fix count entity
  apps/cms/features/order/useCountByOrderStatus.ts
  apps/cms/features/staff/useCountByPosition.ts
  apps/cms/features/vehicle/useCountByVehicleStatus.ts
  apps/cms/features/vehicle/useCountByVehicleType.ts
Owners: @foxminchan

change text id
  apps/cms/components/charts/staff/StaffPositionPieChart.tsx
Owners: @foxminchan

remove divider in overview page
  apps/cms/app/(dash)/page.tsx
Owners: @foxminchan

remove redundant code
  apps/cms/app/(dash)/page.tsx
Owners: @foxminchan

update user greeting
  apps/cms/app/(dash)/UserGreeting.tsx
  apps/cms/app/(dash)/page.tsx
Owners: @foxminchan

remove typo
  apps/cms/app/(dash)/page.tsx
Owners: @foxminchan

inital mud component
  apps/Profio.Website/App.razor
  apps/Profio.Website/Pages/Order.razor
  apps/Profio.Website/Pages/Order.razor.cs
  apps/Profio.Website/Pages/Service.razor
  apps/Profio.Website/Pages/_Host.cshtml
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/Program.cs
  apps/Profio.Website/Shared/NavMenu.razor
  apps/Profio.Website/Shared/NavMenu.razor.cs
Owners: @foxminchan

update staff stat
  apps/cms/app/(dash)/staffs/StaffStatisticsCard.tsx
Owners: @foxminchan

update vehicle stat
  apps/cms/app/(dash)/staffs/StaffStatisticsCard.tsx
  apps/cms/app/(dash)/vehicles/VehicleStatisticsCard.tsx
Owners: @foxminchan

fix container asp.net project
  apps/Profio.Api/Profio.Api.csproj
  apps/Profio.Proxy/Profio.Proxy.csproj
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/Properties/launchSettings.json
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @nhonvo, @Slimaeus, @foxminchan

update order stat
  apps/cms/app/(dash)/orders/OrderStatisticsCard.tsx
  apps/cms/app/(dash)/vehicles/VehicleStatisticsCard.tsx
Owners: @foxminchan

update login unauthorized message
  libs/Profio.Application/Users/Commands/Login/LoginCommand.cs
Owners: @foxminchan

add fetching hub
  apps/profio-app/lib/stores/location_store.dart
  apps/profio-app/lib/stores/vehicle_store.dart
  apps/profio-app/lib/stores/vehicle_store.g.dart
Owners: @Slimaeus

add order table
  apps/Profio.Website/Cache/CacheService.cs
  apps/Profio.Website/Cache/ICacheService.cs
  apps/Profio.Website/Data/Orders/OrderDto.cs
  apps/Profio.Website/Delegate/LoggingDelegate.cs
  apps/Profio.Website/Delegate/RetryDelegate.cs
  apps/Profio.Website/Middleware/RobotMiddleware.cs
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Pages/Order.razor
  apps/Profio.Website/Pages/Order.razor.cs
  apps/Profio.Website/Pages/_Host.cshtml
  apps/Profio.Website/Program.cs
  apps/Profio.Website/Repositories/Repository.cs
  apps/Profio.Website/wwwroot/css/app.css
Owners: @foxminchan
