Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus

update loading and sign in page
  apps/cms/app/auth/sign-in/page.tsx
  apps/cms/components/LoadingButton.tsx
Owners: @foxminchan

edit devcontainer
  .devcontainer/devcontainer.json
Owners: @foxminchan

Update devcontainer.json
  .devcontainer/devcontainer.json
Owners: @foxminchan

refac code
  apps/profio-app/lib/constants/profio.dart
  apps/profio-app/lib/extensions/location_extension.dart
  apps/profio-app/lib/generators/random_location_generator.dart
  apps/profio-app/lib/main.dart
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/providers/mqtt_provider.dart
  apps/profio-app/lib/stores/hub_store.dart
  apps/profio-app/lib/stores/location_store.dart
  apps/profio-app/lib/stores/location_store.g.dart
  apps/profio-app/lib/stores/vehicle_store.dart
  apps/profio-app/lib/widgets/vehicle_list.dart
Owners: @Slimaeus

update docs
  apps/docs/docs/system-design/buildingblock.md
  apps/docs/static/img/architechture/building-blocks.png
Owners: @foxminchan

update docs
  apps/docs/docs/api-design/_category_.json
  apps/docs/docs/api-design/apidesign.md
  apps/docs/docs/development/_category_.json
  apps/docs/docs/development/setup.md
  apps/docs/docs/system-design/buildingblock.md
  apps/docs/docs/system-design/cicd.md
  apps/docs/docs/system-design/component.md
  apps/docs/static/img/architechture/ci-cd.png
Owners: @foxminchan

refac code
  apps/Profio.Website/Repositories/Repository.cs
  libs/Profio.Application/Users/Commands/UploadImage/UploadImageCommand.cs
  libs/Profio.Infrastructure/Auth/UserAccessor.cs
  libs/Profio.Infrastructure/Filters/ApiKeyFilter.cs
Owners: @foxminchan

comment out exceptional properties
  apps/profio-app/lib/extensions/location_extension.dart
  apps/profio-app/lib/generators/random_location_generator.dart
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/stores/vehicle_store.dart
Owners: @Slimaeus

add ignore field when null
  apps/Profio.Api/Extensions/HostingExtensions.cs
Owners: @nhonvo, @Slimaeus

add auto di
  libs/Profio.Infrastructure/Auth/TokenService.cs
  libs/Profio.Infrastructure/Bus/MQTT/Internal/MqttClientService.cs
  libs/Profio.Infrastructure/Cache/Redis/Internal/RedisCacheService.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Email/FluentEmail/Internal/EmailService.cs
  libs/Profio.Infrastructure/Persistence/Idempotency/IdempotencyService.cs
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
  libs/Profio.Infrastructure/Storage/Supabase/Internals/StorageService.cs
Owners: @foxminchan, @nhonvo, @Slimaeus

auto di refact
  apps/Profio.Api/Extensions/HostingExtensions.cs
  libs/Profio.Application/ConfigureServices.cs
  libs/Profio.Infrastructure/Abstractions/Hateoas/Extension.cs
  libs/Profio.Infrastructure/Abstractions/Hateoas/Hypermedia/Link.cs
  libs/Profio.Infrastructure/Abstractions/Hypermedia/ILinkService.cs
  libs/Profio.Infrastructure/Abstractions/Hypermedia/Link.cs
  libs/Profio.Infrastructure/Abstractions/Hypermedia/LinkService.cs
  libs/Profio.Infrastructure/Cache/Extension.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Storage/Extension.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update docs
  apps/docs/docs/additional-information/_category_.json
  apps/docs/docs/additional-information/faq.md
  apps/docs/docs/additional-information/sponor.md
  apps/docs/docs/bussiness-scenario/bussiness.md
  apps/docs/docs/bussiness-scenario/context.mdx
  apps/docs/docs/bussiness-scenario/entity.md
  apps/docs/docs/bussiness-scenario/event.md
  apps/docs/docs/bussiness-scenario/usecase.md
  apps/docs/docs/bussiness-scenario/userstory.md
  apps/docs/docs/bussiness-scenario/wbs.md
  apps/docs/docs/intro.md
  apps/docs/docs/screenshoot/_category_.json
  apps/docs/docs/screenshoot/cms.md
  apps/docs/docs/system-design/buildingblock.md
  apps/docs/docs/system-design/c4.md
  apps/docs/docs/system-design/cicd.md
  apps/docs/docusaurus.config.js
  package-lock.json
Owners: @foxminchan

fix root url
  apps/docs/docusaurus.config.js
Owners: @foxminchan

Update docusaurus.config.js
  apps/docs/docusaurus.config.js
Owners: @foxminchan

Update docusaurus.config.js
  apps/docs/docusaurus.config.js
Owners: @foxminchan
