Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

update ignore
  .github/workflows/ci.yml
Owners: @foxminchan

update yaml
  .github/workflows/ci.yml
Owners: @foxminchan

delete ci
  .github/workflows/ci.yml
Owners: @foxminchan

Update README.md
  README.md
Owners: @foxminchan

update docusaunarus
  apps/docs/docusaurus.config.js
  apps/docs/static/sitemap.xml
Owners: @foxminchan

update cfg
  apps/docs/docusaurus.config.js
Owners: @foxminchan

fix order map
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderOnMap.tsx
Owners: @foxminchan

update dockerfile
  .gitignore
  apps/cms/Dockerfile
Owners: @foxminchan, @fiezt1492, @MeiCloudie

update Readme
  README.md
  apps/cms/Dockerfile
  assets/draw.io/ci-cd.drawio
  assets/img/ci-cd.png
Owners: @foxminchan, @fiezt1492, @MeiCloudie

feat-cms: updated swal
  apps/cms/app/(dash)/customers/CustomerForm.tsx
  apps/cms/app/(dash)/orders/OrderForm.tsx
  apps/cms/app/(dash)/staffs/StaffForm.tsx
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
  apps/cms/app/global.css
  apps/cms/app/layout.tsx
  apps/cms/common/constants/sweetAlertOptions.ts
Owners: @foxminchan

feat-cms: fix data swal error
  apps/cms/app/(dash)/customers/CustomerForm.tsx
  apps/cms/app/(dash)/orders/OrderForm.tsx
  apps/cms/app/(dash)/staffs/StaffForm.tsx
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
Owners: @foxminchan

update deployment
  README.md
  assets/draw.io/ci-cd.drawio
  assets/img/ci-cd.png
  components/k8s/charts/profio-cms/.helmignore
  components/k8s/charts/profio-cms/Chart.yaml
  components/k8s/charts/profio-cms/templates/NOTES.txt
  components/k8s/charts/profio-cms/templates/_helpers.tpl
  components/k8s/charts/profio-cms/templates/deployment.yaml
  components/k8s/charts/profio-cms/templates/hpa.yaml
  components/k8s/charts/profio-cms/templates/ingress.yaml
  components/k8s/charts/profio-cms/templates/service.yaml
  components/k8s/charts/profio-cms/templates/serviceaccount.yaml
  components/k8s/charts/profio-cms/values.yaml
  components/k8s/charts/profio-website/.helmignore
  components/k8s/charts/profio-website/Chart.yaml
  components/k8s/charts/profio-website/templates/NOTES.txt
  components/k8s/charts/profio-website/templates/_helpers.tpl
  components/k8s/charts/profio-website/templates/deployment.yaml
  components/k8s/charts/profio-website/templates/hpa.yaml
  components/k8s/charts/profio-website/templates/ingress.yaml
  components/k8s/charts/profio-website/templates/service.yaml
  components/k8s/charts/profio-website/templates/serviceaccount.yaml
  components/k8s/charts/profio-website/templates/tests/test-connection.yaml
  components/k8s/charts/profio-website/values.yaml
  components/terraform/website.tf
  https/auth.http
Owners: @foxminchan

add mock db and script
  components/scripts/build-image.sh
  components/scripts/clean-image.sh
  components/scripts/inital-app.sh
  database/mock/Customers.sql
  database/mock/Deliveries.sql
  database/mock/DeliveryProgresses.sql
  database/mock/Hubs.sql
  database/mock/Incidents.sql
  database/mock/Orders.sql
  database/mock/Phases.sql
  database/mock/Routes.sql
  database/mock/Staffs.sql
  database/mock/Vehicles.sql
Owners: @foxminchan

fix dependabot
  .github/dependabot.yml
Owners: @foxminchan

update nuget packages
  apps/Profio.Website/Profio.Website.csproj
  libs/Profio.Domain/Profio.Domain.csproj
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @foxminchan, @nhonvo, @Slimaeus

Create docusaurus.yml
  .github/workflows/docusaurus.yml
Owners: @foxminchan

update yaml
  .github/workflows/docusaurus.yml
  package-lock.json
Owners: @foxminchan

Update docusaurus.yml
  .github/workflows/docusaurus.yml
Owners: @foxminchan

Delete .github/workflows/docusaurus.yml
  .github/workflows/docusaurus.yml
Owners: @foxminchan

custom swagger
  libs/Profio.Infrastructure/Auth/Extensions.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Searching/Lucene/Internal/LuceneService.cs
  libs/Profio.Infrastructure/Swagger/SwaggerConfiguration.cs
  libs/Profio.Infrastructure/Swagger/SwaggerDefaultValue.cs
Owners: @foxminchan, @nhonvo, @Slimaeus

remove deeplink
  libs/Profio.Infrastructure/Swagger/SwaggerConfiguration.cs
Owners: @foxminchan

add policy
  apps/Profio.Api/UseCases/v1/CountersController.cs
  apps/Profio.Api/UseCases/v1/SystemController.cs
  apps/Profio.Api/UseCases/v1/UsersController.cs
  libs/Profio.Application/Counters/Queries/GetEntityCountQuery.cs
  libs/Profio.Domain/Constants/UserRole.cs
  libs/Profio.Domain/Exceptions/AuthException.cs
  libs/Profio.Infrastructure/Abstractions/CQRS/Extension.cs
  libs/Profio.Infrastructure/Auth/AuthBehavior.cs
  libs/Profio.Infrastructure/Auth/Extensions.cs
  libs/Profio.Infrastructure/Auth/IAuthRequest.cs
  libs/Profio.Infrastructure/Auth/IUserAccessor.cs
  libs/Profio.Infrastructure/Auth/UserAccessor.cs
  libs/Profio.Infrastructure/Persistence/ApplicationDbContextInitializer.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

add Officer role for new user
  libs/Profio.Application/Counters/Queries/GetEntityCountQuery.cs
  libs/Profio.Application/Users/Commands/Register/RegisterCommand.cs
Owners: @foxminchan

add check auth
  libs/Profio.Infrastructure/Auth/IUserAccessor.cs
  libs/Profio.Infrastructure/Auth/UserAccessor.cs
Owners: @foxminchan

add desc schema
  apps/Profio.Api/UseCases/v1/CountersController.cs
  libs/Profio.Application/Customers/Commands/CreateCustomerCommand.cs
  libs/Profio.Application/Customers/Commands/UpdateCustomerCommand.cs
  libs/Profio.Application/Customers/CustomerDTO.cs
  libs/Profio.Application/Deliveries/Commands/CreateDeliveryCommand.cs
  libs/Profio.Application/Deliveries/Commands/UpdateDeliveryCommand.cs
  libs/Profio.Application/Deliveries/DeliveryDto.cs
  libs/Profio.Application/DeliveryProgresses/Commands/CreateDeliveryProgressCommand.cs
  libs/Profio.Application/DeliveryProgresses/Commands/UpdateDeliveryProgressCommand.cs
  libs/Profio.Application/DeliveryProgresses/DeliveryProgressDto.cs
  libs/Profio.Application/Hubs/Commands/CreateHubCommand.cs
  libs/Profio.Application/Hubs/Commands/UpdateHubCommand.cs
  libs/Profio.Application/Hubs/Commands/UpdateHubStatusCommand.cs
  libs/Profio.Application/Hubs/HubDTO.cs
  libs/Profio.Application/Incidents/Commands/CreateIncidentCommand.cs
  libs/Profio.Application/Incidents/Commands/UpdateIncidentCommand.cs
  libs/Profio.Application/Incidents/Commands/UpdateIncidentStatusCommand.cs
  libs/Profio.Application/Incidents/IncidentDto.cs
  libs/Profio.Application/OrderHistories/Commands/CreateOrderHistoryCommand.cs
  libs/Profio.Application/OrderHistories/Commands/UpdateOrderHistoryCommand.cs
  libs/Profio.Application/Orders/Commands/CreateOrderCommand.cs
  libs/Profio.Application/Orders/Commands/UpdateOrderCommand.cs
  libs/Profio.Application/Orders/OrderDTO.cs
  libs/Profio.Application/Phases/Commands/CreatePhaseCommand.cs
  libs/Profio.Application/Phases/Commands/UpdatePhaseCommand.cs
  libs/Profio.Application/Phases/PhaseDto.cs
  libs/Profio.Application/Routes/Commands/CreateRouteCommand.cs
  libs/Profio.Application/Routes/Commands/UpdateRouteCommand.cs
  libs/Profio.Application/Staffs/Commands/CreateStaffCommand.cs
  libs/Profio.Application/Staffs/Commands/UpdateStaffCommand.cs
  libs/Profio.Application/Staffs/StaffDTO.cs
  libs/Profio.Application/Users/AccountDTO.cs
  libs/Profio.Application/Users/Commands/ChangePassword/ChangePasswordCommand.cs
  libs/Profio.Application/Users/Commands/Login/LoginCommand.cs
  libs/Profio.Application/Users/Commands/Register/RegisterCommand.cs
  libs/Profio.Application/Users/UserDTO.cs
  libs/Profio.Application/Vehicles/Commands/CreateVehicleCommand.cs
  libs/Profio.Application/Vehicles/Commands/UpdateVehicleCommand.cs
  libs/Profio.Application/Vehicles/Commands/UpdateVehicleStatusCommand.cs
  libs/Profio.Application/Vehicles/VehicleDTO.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

optimzed code
  libs/Profio.Infrastructure/Auth/Extensions.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/System/Extension.cs
Owners: @foxminchan, @nhonvo, @Slimaeus

add interceptors
  libs/Profio.Infrastructure/Persistence/Extension.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/SelectWithoutWhereCommandInterceptor.cs
Owners: @foxminchan

add interceptors
  libs/Profio.Infrastructure/Persistence/Extension.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/DeleteWithoutWhereCommandInterceptor.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/SelectWithoutWhereCommandInterceptor.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/UpdateWithoutWhereCommandInterceptor.cs
Owners: @foxminchan

format stackTrace
  libs/Profio.Infrastructure/Persistence/Interceptors/DeleteWithoutWhereCommandInterceptor.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/UpdateWithoutWhereCommandInterceptor.cs
Owners: @foxminchan

refac interceptors
  libs/Profio.Infrastructure/Persistence/Extension.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/DeleteWithoutWhereCommandInterceptor.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/ExcuteWithoutWhereCommandInterceptor.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/SelectWithoutWhereCommandInterceptor.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/TimingInterceptor.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/UpdateWithoutWhereCommandInterceptor.cs
Owners: @foxminchan

fix critical string issue
  libs/Profio.Infrastructure/Persistence/Extension.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/ExecuteWithoutWhereCommandInterceptor.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/TimingInterceptor.cs
Owners: @foxminchan

fix shell issue
  components/scripts/clean-image.sh
Owners: @foxminchan

update readme
  README.md
Owners: @foxminchan

use developer logging
  apps/profio-app/lib/api/base_api.dart
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/stores/hub_store.dart
  apps/profio-app/lib/stores/location_store.dart
  apps/profio-app/lib/stores/vehicle_store.dart
Owners: @Slimaeus

enable persist authorization data for swagger
  libs/Profio.Infrastructure/Swagger/SwaggerConfiguration.cs
Owners: @foxminchan

fix interceptor path
  libs/Profio.Infrastructure/Persistence/Interceptors/ExecuteWithoutWhereCommandInterceptor.cs
  libs/Profio.Infrastructure/Persistence/Interceptors/TimingInterceptor.cs
  libs/Profio.Infrastructure/Swagger/ConfigureSwaggerGenOptions.cs
Owners: @foxminchan

add views
  apps/Profio.Api/Profio.Api.csproj.user
  libs/Profio.Application/Statistical/Commands/CreateDeliveryStatisticalCommand.cs
  libs/Profio.Domain/Views/DeliverySummary.cs
  libs/Profio.Infrastructure/Persistence/Configurations/DeliverySummaryConfiguration.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

check null
  libs/Profio.Application/Statistical/Commands/CreateDeliveryStatisticalCommand.cs
Owners: @foxminchan

restruct proj
  apps/Profio.Api/UseCases/v1/CountersController.cs
  libs/Profio.Application/Statistical/Queries/GetEntityCountQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

fix Cookie not bind
  libs/Profio.Infrastructure/Auth/Extensions.cs
Owners: @foxminchan

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus
