Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus

update order list and create order form
  apps/cms/app/(dash)/orders/AddOrder.tsx
  apps/cms/app/(dash)/orders/DeleteOrder.tsx
  apps/cms/app/(dash)/orders/EditOrder.tsx
  apps/cms/app/(dash)/orders/OrderForm.tsx
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/orders/page.tsx
  apps/cms/features/order/order.types.ts
Owners: @foxminchan

updated loading button
  apps/cms/components/LoadingButton.tsx
Owners: @foxminchan

padding header
  apps/cms/components/paperbase/Header.tsx
Owners: @foxminchan

added google map types
  package-lock.json
  package.json
Owners: @foxminchan

create stat for order
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/orders/OrderStatisticsCard.tsx
  apps/cms/app/(dash)/orders/page.tsx
  apps/cms/components/StatColorCard.tsx
Owners: @foxminchan

migrated to @react-google-maps/api
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

update order details page
  apps/cms/app/(dash)/orders/[orderId]/OrderCustomerCard.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderDetailsCard.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderStatusCard.tsx
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
Owners: @foxminchan

remove redundant code
  apps/cms/app/(dash)/orders/[orderId]/OrderStepper.tsx
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
Owners: @foxminchan

update docs
  apps/docs/docs/bussiness-scenario/context.mdx
  apps/docs/docs/bussiness-scenario/entity.md
  apps/docs/docs/bussiness-scenario/event.md
  apps/docs/docs/bussiness-scenario/usecase.md
  apps/docs/docs/bussiness-scenario/wbs.md
  apps/docs/docs/intro.mdx
  apps/docs/docs/system-design/buildingblock.md
  apps/docs/docs/system-design/c4.md
  apps/docs/docs/system-design/cicd.md
  apps/docs/static/img/architechture/building-blocks.png
  apps/docs/static/img/architechture/clean.png
  apps/docs/static/img/architechture/cqrs.png
  assets/draw.io/ci-cd.drawio
  assets/img/ci-cd.png
Owners: @foxminchan

update docs
  apps/docs/docs/bussiness-scenario/event.md
  apps/docs/static/img/event/access.png
  apps/docs/static/img/event/aggerateroot.png
  apps/docs/static/img/event/bounded-context.png
  apps/docs/static/img/event/domain-event.png
  apps/docs/static/img/event/map.png
Owners: @foxminchan

removed ggmap api route
  apps/cms/app/api/maps/directions/route.ts
Owners: @foxminchan

add phase existence by id validator
  libs/Profio.Application/DeliveryProgresses/Queries/GetCustomerWithPagingQuery.cs
  libs/Profio.Application/DeliveryProgresses/Queries/GetDeliveryProgressWithPagingQuery.cs
  libs/Profio.Application/Orders/Commands/CreateOrderCommand.cs
  libs/Profio.Application/Orders/Commands/UpdateOrderCommand.cs
  libs/Profio.Application/Orders/OrderDTO.cs
  libs/Profio.Application/Phases/Commands/CreatePhaseCommand.cs
  libs/Profio.Application/Phases/Commands/UpdatePhaseCommand.cs
  libs/Profio.Application/Phases/Validators/PhaseExistenceByIdValidator.cs
Owners: @foxminchan

update grid staff stat card
  apps/cms/app/(dash)/staffs/StaffStatisticsCard.tsx
Owners: @foxminchan

update vehicle card
  apps/cms/app/(dash)/staffs/StaffStatisticsCard.tsx
  apps/cms/app/(dash)/vehicles/VehicleStatisticsCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleStaffCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleStatusCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleTypeCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/page.tsx
  apps/cms/components/Stat.tsx
Owners: @foxminchan

update order card
  apps/cms/app/(dash)/orders/OrderStatisticsCard.tsx
  apps/cms/app/(dash)/vehicles/VehicleStatisticsCard.tsx
  apps/cms/components/StatColorCard.tsx
Owners: @foxminchan

fix vehicle count
  apps/cms/features/vehicle/useCountByVehicleStatus.ts
  apps/cms/features/vehicle/useCountByVehicleType.ts
Owners: @foxminchan

update order details page
  apps/cms/app/(dash)/orders/[orderId]/OrderCustomerCard.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderDetailsCard.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderStatusCard.tsx
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
Owners: @foxminchan

update vehicle details page
  apps/cms/app/(dash)/orders/[orderId]/OrderDetailsCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleStaffCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleStatusCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleTypeCard.tsx
Owners: @foxminchan

fix create and update hub commands
  libs/Profio.Application/Hubs/Commands/CreateHubCommand.cs
  libs/Profio.Application/Hubs/Commands/UpdateHubCommand.cs
Owners: @foxminchan

update overview
  apps/cms/app/(dash)/OverviewStats.tsx
  apps/cms/app/(dash)/page.tsx
Owners: @foxminchan

clean up code
  libs/Profio.Application/ConfigureServices.cs
  libs/Profio.Infrastructure/Exceptions/SmsException.cs
  libs/Profio.Infrastructure/Persistence/ApplicationDbContextFactory.cs
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
  libs/Profio.Infrastructure/Searching/Lucene/Internal/LuceneService.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

add update hub status
  apps/Profio.Api/UseCases/v1/HubsController.cs
  libs/Profio.Application/Hubs/Commands/UpdateHubStatusCommand.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update style for code
  libs/Profio.Application/Deliveries/Queries/GetOrderHistoryByDeliveryIdWithPagingQuery.cs
  libs/Profio.Application/Hubs/Commands/UpdateHubStatusCommand.cs
  libs/Profio.Application/Orders/Queries/GetAvailableVehicleByOrderIdWithPagingQuery.cs
  libs/Profio.Application/Orders/Queries/GetDeliveryByOrderIdWithPagingQuery.cs
  libs/Profio.Application/Orders/Queries/GetHubPathByOrderIdQuery.cs
  libs/Profio.Application/Vehicles/Queries/GetDeliveryByVehicleIdWithPagingQuery.cs
  libs/Profio.Infrastructure/Abstractions/CQRS/Validators/UpdateCommandValidatorBase.cs
Owners: @foxminchan

add update vehicle status
  apps/Profio.Api/UseCases/v1/VehiclesController.cs
  libs/Profio.Application/Vehicles/Commands/UpdateVehicleStatusCommand.cs
  libs/Profio.Application/Vehicles/Queries/GetDeliveryByVehicleIdWithPagingQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

add retry email sender
  libs/Profio.Infrastructure/Email/FluentEmail/Internal/EmailService.cs
Owners: @foxminchan

update docs
  assets/dac/c4-component.py
  assets/dac/c4-container.py
  assets/dac/c4-context.py
Owners: @foxminchan

update docs
  apps/Profio.Api/UseCases/v1/DeliveriesController.cs
  apps/Profio.Api/UseCases/v1/IncidentsController.cs
  apps/Profio.Api/UseCases/v1/OrdersController.cs
  apps/Profio.Api/UseCases/v1/StaffsController.cs
  apps/Profio.Api/UseCases/v1/VehiclesController.cs
  apps/docs/docs/bussiness-scenario/event.md
  apps/docs/docs/system-design/c4.md
  apps/docs/docs/system-design/component.md
  apps/docs/static/img/c4/component_diagram.png
  apps/docs/static/img/c4/container_diagram.png
  apps/docs/static/img/c4/context_diagram.png
  assets/dac/c4-component.py
  assets/dac/c4-container.py
  assets/dac/c4-context.py
  libs/Profio.Infrastructure/Email/FluentEmail/Internal/EmailService.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

fix font
  apps/docs/docs/system-design/c4.md
Owners: @foxminchan

update class
  apps/docs/docs/system-design/c4.md
Owners: @foxminchan

add pwa
  apps/cms/app/layout.tsx
  apps/cms/next.config.js
  package-lock.json
  package.json
Owners: @foxminchan, @fiezt1492, @MeiCloudie

add sitemap docs
  apps/docs/docusaurus.config.js
  apps/docs/static/sitemap.xml
  package-lock.json
  package.json
Owners: @foxminchan

update pwa
  apps/cms/next.config.js
  package-lock.json
  package.json
Owners: @fiezt1492, @MeiCloudie, @foxminchan

add seo
  apps/cms/app/layout.tsx
  apps/cms/public/images/web-preview.jpg
Owners: @foxminchan

add update incident status
  apps/Profio.Api/UseCases/v1/IncidentsController.cs
  libs/Profio.Application/Incidents/Commands/UpdateIncidentStatusCommand.cs
  libs/Profio.Infrastructure/Abstractions/CQRS/Events/Queries/GetCountQueryBase.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

fix some incorrect fields
  libs/Profio.Application/Incidents/Commands/CreateIncidentCommand.cs
  libs/Profio.Application/Incidents/IncidentDto.cs
Owners: @foxminchan

update docs
  apps/Profio.Api/UseCases/BaseEntityController.cs
  apps/docs/docs/development/setup.md
  apps/docs/docs/intro.md
  apps/docs/static/img/hutech-cj.jpg
Owners: @nhonvo, @Slimaeus, @foxminchan

fix redundant OrderHistoryId field validation
  libs/Profio.Application/Incidents/Commands/CreateIncidentCommand.cs
Owners: @foxminchan

pwa reconfiged
  apps/cms/.gitignore
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/staffs/StaffList.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/app/auth/sign-in/page.tsx
  apps/cms/app/auth/sign-up/page.tsx
  apps/cms/app/layout.tsx
  apps/cms/components/paperbase/Header.tsx
  apps/cms/components/paperbase/Navigator.tsx
  apps/cms/components/paperbase/Paperbase.tsx
  apps/cms/next-env.d.ts
  apps/cms/next.config.js
  apps/cms/pages/_offline.tsx
  apps/cms/public/fallback-development.js
  apps/cms/public/robots.txt
Owners: @fiezt1492, @MeiCloudie, @foxminchan

fixed null pathname
  apps/cms/components/paperbase/Paperbase.tsx
Owners: @foxminchan

fixed null pathname (#230)
  apps/cms/components/paperbase/Paperbase.tsx
Owners: @foxminchan
