Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus

edit footer and add swall alert
  apps/cms/app/auth/sign-in/page.tsx
  apps/cms/components/Copyright.tsx
  apps/cms/components/paperbase/Header.tsx
  package-lock.json
  package.json
Owners: @foxminchan

update footer and section
  apps/Profio.Web/Assets/Js/app.js
  apps/Profio.Web/Assets/Mail/contact.php
  apps/Profio.Web/Pages/Index.razor
  apps/Profio.Web/Pages/Index.razor.cs
  apps/Profio.Web/Pages/Shared/Footer.razor
  apps/Profio.Web/Pages/Shared/MainLayout.razor
  apps/Profio.Web/Pages/Shared/NavMenu.razor
  apps/Profio.Web/Profio.Web.csproj
  apps/Profio.Web/appsettings.json
  apps/Profio.Web/wwwroot/images/about.jpg
  apps/Profio.Web/wwwroot/images/blog-1.jpg
  apps/Profio.Web/wwwroot/images/blog-2.jpg
  apps/Profio.Web/wwwroot/images/team-1.jpg
  apps/Profio.Web/wwwroot/images/team-2.jpg
  apps/Profio.Web/wwwroot/images/team-3.jpg
  apps/Profio.Web/wwwroot/images/team-4.jpg
  apps/Profio.Web/wwwroot/images/testimonial-1.jpg
  apps/Profio.Web/wwwroot/images/testimonial-2.jpg
  apps/Profio.Web/wwwroot/images/testimonial-3.jpg
  apps/Profio.Web/wwwroot/images/testimonial-4.jpg
  apps/Profio.Web/wwwroot/images/user.jpg
Owners: @foxminchan

add get orders by phone number
  apps/Profio.Api/UseCases/v1/CustomersController.cs
  libs/Profio.Application/Orders/Queries/GetOrderWithPagingQuery.cs
  libs/Profio.Application/Users/Queries/GetOrderByUserPhoneNumberWithPagingQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

add env
  apps/Profio.Web/.env
  apps/Profio.Web/.env.example
Owners: @foxminchan

add SEO for web
  apps/Profio.Web/Assets/Css/style.css
  apps/Profio.Web/Dockerfile
  apps/Profio.Web/Pages/Shared/ApplicationLogo.razor
  apps/Profio.Web/Pages/Shared/MainLayout.razor
  apps/Profio.Web/Pages/_Layout.cshtml
  apps/Profio.Web/Profio.Web.csproj
  apps/Profio.Web/Program.cs
  apps/Profio.Web/Properties/launchSettings.json
  apps/Profio.Web/wwwroot/robots.txt
Owners: @foxminchan

full landing page
  apps/Profio.Web/Assets/Css/style.css
  apps/Profio.Web/Pages/About.razor
  apps/Profio.Web/Pages/Contact.razor
  apps/Profio.Web/Pages/Index.razor
  apps/Profio.Web/Pages/Service.razor
  apps/Profio.Web/Pages/_Layout.cshtml
  apps/Profio.Web/Profio.Web.csproj
  apps/Profio.Web/wwwroot/images/business.png
  apps/Profio.Web/wwwroot/images/delivery.jpg
  apps/Profio.Web/wwwroot/images/shipper.jpg
Owners: @foxminchan

add pwa for web and update readme
  README.md
  apps/Profio.Website/Pages/_Host.cshtml
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/project.json
  apps/Profio.Website/wwwroot/icon-192.png
  apps/Profio.Website/wwwroot/icon-256.png
  apps/Profio.Website/wwwroot/icon-384.png
  apps/Profio.Website/wwwroot/libs/owlcarousel/LICENSE
  apps/Profio.Website/wwwroot/mail/contact.php
  apps/Profio.Website/wwwroot/manifest.json
  apps/Profio.Website/wwwroot/service-worker.js
  apps/Profio.Website/wwwroot/service-worker.published.js
  assets/img/graph.png
  tye.yml
Owners: @foxminchan

update delete alert
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/components/ActionForList.tsx
  apps/cms/components/paperbase/Header.tsx
  apps/cms/public/fallback-development.js
Owners: @foxminchan

add gitpod cfg
  .gitpod.Dockerfile
  .gitpod.yml
Owners: @foxminchan

update vehicle delete
  apps/cms/app/(dash)/vehicles/DeleteVehicle.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/page.tsx
  apps/cms/components/ActionForList.tsx
Owners: @foxminchan

update vehicle and order
  apps/cms/app/(dash)/orders/AddOrder.tsx
  apps/cms/app/(dash)/orders/DeleteOrder.tsx
  apps/cms/app/(dash)/orders/EditOrder.tsx
  apps/cms/app/(dash)/orders/OrderForm.tsx
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/page.tsx
  apps/cms/components/ActionForList.tsx
  apps/cms/features/customer/customer.types.ts
  apps/cms/features/order/order.types.ts
Owners: @foxminchan

update staff
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/staffs/DeleteStaff.tsx
  apps/cms/app/(dash)/staffs/StaffList.tsx
  apps/cms/app/(dash)/staffs/[staffId]/page.tsx
Owners: @foxminchan

update signin page
  apps/cms/app/auth/sign-in/page.tsx
Owners: @foxminchan

update profio website
  apps/Profio.Api/Profio.Api.csproj.user
  apps/Profio.Api/Properties/ServiceDependencies/Profio-Sv2 - Web Deploy1/profile.arm.json
  apps/Profio.Api/UseCases/v1/CustomersController.cs
  apps/Profio.Website/App.razor
  apps/Profio.Website/Pages/About.razor
  apps/Profio.Website/Pages/Index.razor
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Pages/Service.razor
  apps/Profio.Website/Pages/_Host.cshtml
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/Program.cs
  apps/Profio.Website/Properties/ServiceDependencies/ProfioWebsite - Web Deploy1/profile.arm.json
  apps/Profio.Website/Shared/Footer.razor
  apps/Profio.Website/Shared/Footer.razor.cs
  apps/Profio.Website/wwwroot/css/app.css
  apps/Profio.Website/wwwroot/emails.csv
  apps/Profio.Website/wwwroot/images/service-1.jpg
  apps/Profio.Website/wwwroot/images/service-2.jpg
  apps/Profio.Website/wwwroot/images/service-3.jpg
  apps/Profio.Website/wwwroot/images/service-4.jpg
  apps/Profio.Website/wwwroot/images/service-5.jpg
  apps/Profio.Website/wwwroot/images/service-6.jpg
  libs/Profio.Application/Users/Queries/GetOrderByUserPhoneNumberWithPagingQuery.cs
  tye.yml
Owners: @nhonvo, @Slimaeus, @foxminchan

update header
  apps/cms/components/paperbase/Header.tsx
  apps/cms/components/paperbase/Paperbase.tsx
Owners: @foxminchan

change text in header
  apps/cms/components/paperbase/Header.tsx
Owners: @foxminchan

update tabs for vehicle page
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/app/(dash)/vehicles/page.tsx
  apps/cms/components/MainTabs.tsx
  apps/cms/components/paperbase/Paperbase.tsx
Owners: @foxminchan

update tabs for order page
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/orders/page.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/app/(dash)/vehicles/page.tsx
Owners: @foxminchan

Fix Get Orders by phone number and Add Get Current Orders by phone number
  apps/Profio.Api/UseCases/v1/CustomersController.cs
  libs/Profio.Application/Customers/Queries/GetOrderByCustomerPhoneNumberWithPagingQuery - Copy.cs
  libs/Profio.Application/Customers/Queries/GetOrderByCustomerPhoneNumberWithPagingQuery.cs
  libs/Profio.Application/Users/Queries/GetOrderByUserPhoneNumberWithPagingQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

Fix name for get current orders by phone command
  libs/Profio.Application/Customers/Queries/GetCurrentOrderByCustomerPhoneNumberWithPagingQuery.cs
Owners: @foxminchan

update tabs for staff page
  apps/cms/app/(dash)/orders/page.tsx
  apps/cms/app/(dash)/staffs/StaffList.tsx
  apps/cms/app/(dash)/staffs/page.tsx
Owners: @foxminchan

add Get Order by Customer Id
  apps/Profio.Api/UseCases/v1/CustomersController.cs
  libs/Profio.Application/Customers/Queries/GetOrderByCustomerIdWithPagingQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update blazor
  apps/Profio.Website/Pages/Index.razor
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Pages/_Host.cshtml
  apps/Profio.Website/Shared/Footer.razor
  apps/Profio.Website/Shared/Footer.razor.cs
  apps/Profio.Website/Shared/NavMenu.razor
  apps/Profio.Website/wwwroot/css/app.css
  apps/Profio.Website/wwwroot/libs/animate/animate.css
  apps/Profio.Website/wwwroot/libs/animate/animate.min.css
  apps/Profio.Website/wwwroot/libs/wow/wow.js
  apps/Profio.Website/wwwroot/libs/wow/wow.min.js
Owners: @foxminchan

add GridToolbar for vehicle, staff, order
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/staffs/StaffList.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
Owners: @foxminchan

removed pwa
  apps/cms/app/layout.tsx
  apps/cms/next.config.js
  apps/cms/pages/_offline.tsx
  apps/cms/public/fallback-development.js
  apps/cms/public/manifest.json
  package-lock.json
  package.json
Owners: @foxminchan, @fiezt1492, @MeiCloudie

removed order history
  apps/cms/features/orderHistory/orderHistory.service.ts
  apps/cms/next-env.d.ts
Owners: @foxminchan, @fiezt1492, @MeiCloudie

removed order history
  apps/cms/features/orderHistory/orderHistory.types.ts
Owners: @foxminchan

google map updated
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

fix action tag and add new line between action
  Profio.sln
  apps/Profio.Api/UseCases/v1/CustomersController.cs
  apps/Profio.Api/UseCases/v1/HubsController.cs
  apps/Profio.Website/Shared/NavLinkWithActiveClass.razor
  apps/Profio.Website/Shared/NavMenu.razor
  apps/Profio.Website/Shared/NavMenu.razor.cs
Owners: @foxminchan, @nhonvo, @Slimaeus

rid of any
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

fix return no content when nothing in current order list by phone number
  apps/Profio.Api/UseCases/v1/CustomersController.cs
Owners: @nhonvo, @Slimaeus

removed console.log
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

create copy text button and update list
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/staffs/StaffList.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/components/CopyTextButton.tsx
  apps/cms/components/paperbase/Paperbase.tsx
Owners: @foxminchan

add Send Order Email Command and Validators
  apps/Profio.Api/UseCases/v1/SenderController.cs
  libs/Profio.Application/Customers/Queries/GetCurrentOrderByCustomerPhoneNumberWithPagingQuery.cs
  libs/Profio.Application/Sender/Commands/SendOrderEmailCommand.cs
  libs/Profio.Application/Sender/Validators/OrderInfoValidator.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update vehicle
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
Owners: @foxminchan

responsive layout
  apps/cms/components/paperbase/Paperbase.tsx
Owners: @foxminchan

update datagrid
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/staffs/StaffList.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
  apps/cms/components/paperbase/Header.tsx
Owners: @foxminchan

hot fix types
  apps/cms/app/(dash)/incidents/page.tsx
  apps/cms/features/incident/incident.types.ts
Owners: @foxminchan

[FIX/CMS] hot fix types on build (#238)
  apps/cms/app/(dash)/incidents/page.tsx
  apps/cms/features/incident/incident.types.ts
Owners: @foxminchan

update header responsive
  apps/cms/components/paperbase/Header.tsx
Owners: @foxminchan
