Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus

fix smell code
  apps/Profio.Api/Profio.Api.csproj.user
  apps/Profio.Api/Properties/ServiceDependencies/Profio-Sv2 - Web Deploy2/profile.arm.json
  libs/Profio.Application/Customers/Queries/GetCurrentOrderByCustomerPhoneNumberWithPagingQuery.cs
  libs/Profio.Application/Hubs/Commands/UpdateHubStatusCommand.cs
  libs/Profio.Application/Hubs/Queries/GetDestinationAddressByVehicleIdQuery.cs
  libs/Profio.Application/Hubs/Queries/GetHubWithPagingQuery.cs
  libs/Profio.Application/Hubs/Queries/GetNearestHubByLocationQuery.cs
  libs/Profio.Application/Hubs/Queries/GetNextHubByVehicleIdQuery.cs
  libs/Profio.Application/Incidents/Commands/UpdateIncidentStatusCommand.cs
  libs/Profio.Application/Incidents/Queries/GetIncidentWithPagingQuery.cs
  libs/Profio.Application/Orders/Queries/GetAvailableVehicleByOrderIdWithPagingQuery.cs
  libs/Profio.Application/Orders/Queries/GetHubPathByOrderIdQuery.cs
  libs/Profio.Application/Orders/Queries/GetOrderWithPagingQuery.cs
  libs/Profio.Application/Phases/Commands/CreatePhaseCommand.cs
  libs/Profio.Application/Phases/Commands/DeletePhaseCommand.cs
  libs/Profio.Application/Phases/Commands/UpdatePhaseCommand.cs
  libs/Profio.Application/Phases/PhaseProfile.cs
  libs/Profio.Application/Phases/Queries/GetPhaseByIdQuery.cs
  libs/Profio.Application/Phases/Queries/GetPhaseWithPagingQuery.cs
  libs/Profio.Application/Seed/Queries/SeedDataQuery.cs
  libs/Profio.Application/Users/Commands/Register/RegisterCommand.cs
  libs/Profio.Application/Users/Commands/UploadImage/UploadImageCommand.cs
  libs/Profio.Application/Vehicles/Commands/VisitHubCommand.cs
  libs/Profio.Application/Vehicles/Queries/GetHubPathByVehicleIdQuery.cs
  libs/Profio.Application/Vehicles/Queries/GetOrderByVehicleIdWithPagingQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

fix user uc
  apps/Profio.Api/UseCases/v1/UsersController.cs
Owners: @nhonvo, @Slimaeus

update hub services
  apps/cms/app/(dash)/hubs/HubForm.tsx
  apps/cms/features/hub/hub.service.ts
  apps/cms/features/hub/hub.types.ts
  apps/cms/features/hub/useCreateHub.ts
  apps/cms/features/hub/useGetHub.ts
  apps/cms/features/hub/useGetHubs.ts
  apps/cms/features/hub/useUpdateHub.ts
Owners: @foxminchan

update hub list
  apps/cms/app/(dash)/hubs/HubForm.tsx
  apps/cms/app/(dash)/hubs/HubList.tsx
  apps/cms/app/(dash)/hubs/page.tsx
Owners: @foxminchan

removed async
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

update loading and icon for list
  apps/cms/app/(dash)/customers/CustomerList.tsx
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/staffs/StaffList.tsx
  apps/cms/app/(dash)/users/UserList.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
Owners: @foxminchan

update incident
  apps/cms/app/(dash)/incidents/IncidentList.tsx
  apps/cms/app/(dash)/incidents/page.tsx
  apps/cms/features/incident/incident.types.ts
  apps/cms/features/incident/useGetIncidents.ts
Owners: @foxminchan

get path from api
  apps/profio-app/lib/stores/vehicle_store.dart
  apps/profio-app/lib/widgets/simulate_button.dart
  apps/profio-app/lib/widgets/vehicle_list.dart
Owners: @Slimaeus

update loading
  apps/cms/app/(dash)/customers/[customerId]/page.tsx
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
  apps/cms/app/(dash)/staffs/[staffId]/page.tsx
Owners: @foxminchan

add randomness for simulate
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/stores/location_store.dart
Owners: @Slimaeus

make the simulate stop at destination position
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/stores/location_store.dart
Owners: @Slimaeus

fetch current orders only in vehicle store
  apps/profio-app/lib/stores/vehicle_store.dart
Owners: @Slimaeus

make all endpoints return result model
  apps/Profio.Api/UseCases/v1/SeedController.cs
  apps/Profio.Api/UseCases/v1/SenderController.cs
  apps/Profio.Api/UseCases/v1/SystemController.cs
  apps/Profio.Api/UseCases/v1/VehiclesController.cs
Owners: @nhonvo, @Slimaeus

migrate to radzen blazor
  apps/Profio.Api/UseCases/v1/UsersController.cs
  apps/Profio.Website/Pages/Order.razor
  apps/Profio.Website/Pages/Order.razor.cs
  apps/Profio.Website/Pages/_Host.cshtml
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/Program.cs
  apps/Profio.Website/_Imports.razor
  apps/Profio.Website/wwwroot/css/app.css
Owners: @nhonvo, @Slimaeus, @foxminchan

fix logic order
  apps/Profio.Website/Pages/Order.razor.cs
  libs/Profio.Application/Customers/Queries/GetOrderByCustomerPhoneNumberWithPagingQuery.cs
Owners: @foxminchan

add seed delivery
  libs/Profio.Application/Seed/Queries/SeedDataQuery.cs
  libs/Profio.Domain/Constants/PathSeed.cs
Owners: @foxminchan

add purge delivery command and update delivery seeding
  apps/Profio.Api/UseCases/v1/DeliveriesController.cs
  libs/Profio.Application/Deliveries/Commands/PurgeDeliveryCommand.cs
  libs/Profio.Application/Seed/Queries/SeedDataQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

add history
  apps/Profio.Website/Data/Orders/OrderDto.cs
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Pages/Lookup.razor
  apps/Profio.Website/Pages/Lookup.razor.cs
  apps/Profio.Website/Pages/Order.razor
  libs/Profio.Infrastructure/Persistence/Extension.cs
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @foxminchan, @nhonvo, @Slimaeus

fix redirect
  apps/Profio.Website/Pages/Index.razor.cs
Owners: @foxminchan

update order details page with tabs
  apps/cms/app/(dash)/orders/[orderId]/OrderDetails.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderOnMap.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderStepper.tsx
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
Owners: @foxminchan

update title for list hub and incident
  apps/cms/app/(dash)/hubs/HubList.tsx
  apps/cms/app/(dash)/incidents/IncidentList.tsx
  apps/cms/app/(dash)/users/UserList.tsx
Owners: @foxminchan

update mqtt client service
  libs/Profio.Infrastructure/Bus/MQTT/Internal/MqttClientService.cs
Owners: @foxminchan

hot fix db
  apps/Profio.Website/Pages/Index.razor.cs
  libs/Profio.Infrastructure/Persistence/Extension.cs
Owners: @foxminchan

add signalr blazor
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/Properties/ServiceDependencies/ProfioWebsite - Web Deploy1/secrets1.arm.json
  apps/Profio.Website/Properties/ServiceDependencies/ProfioWebsite - Web Deploy1/signalr1.arm.json
  apps/Profio.Website/Properties/serviceDependencies.ProfioWebsite - Web Deploy1.json
  apps/Profio.Website/Properties/serviceDependencies.json
  apps/Profio.Website/appsettings.Development.json
  apps/Profio.Website/appsettings.json
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @foxminchan, @nhonvo, @Slimaeus

update sign in page
  apps/cms/app/auth/sign-in/page.tsx
Owners: @foxminchan

update order details grid
  apps/cms/app/(dash)/orders/[orderId]/OrderCustomerCard.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderDetails.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderDetailsCard.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderStatusCard.tsx
Owners: @foxminchan

update vehicle card height
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleStaffCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleStatusCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/VehicleTypeCard.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/page.tsx
Owners: @foxminchan

create a digital clock
  apps/cms/app/(dash)/DigitalClock.tsx
  apps/cms/app/(dash)/UserGreeting.tsx
Owners: @foxminchan

update package
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/Properties/ServiceDependencies/ProfioWebsite - Web Deploy1/signalr1.arm.json
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @foxminchan, @nhonvo, @Slimaeus

add margin bottom in overview page
  apps/cms/app/(dash)/page.tsx
Owners: @foxminchan

create useSwal hook
  apps/cms/app/(dash)/customers/[customerId]/page.tsx
  apps/cms/app/(dash)/orders/[orderId]/OrderDetails.tsx
  apps/cms/app/(dash)/settings/ChangePasswordCard.tsx
  apps/cms/app/(dash)/staffs/[staffId]/page.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/page.tsx
  apps/cms/common/hooks/useSwal.ts
  apps/cms/components/ActionForList.tsx
  apps/cms/components/paperbase/Header.tsx
  apps/cms/components/paperbase/Navigator.tsx
Owners: @foxminchan

remove redundant code
  apps/cms/components/paperbase/Navigator.tsx
Owners: @foxminchan

unlimited polylines
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

update asset
  assets/draw.io/block.drawio
  assets/img/block.png
Owners: @foxminchan

add simulate by direction
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/stores/location_store.dart
Owners: @Slimaeus

add send location when client connect signalr and fix Redis
  apps/Profio.Api/appsettings.Development.json
  apps/Profio.Api/appsettings.json
  libs/Profio.Infrastructure/Bus/MQTT/Internal/MqttClientService.cs
  libs/Profio.Infrastructure/Cache/Extension.cs
  libs/Profio.Infrastructure/Cache/Redis/Internal/RedisCacheService.cs
  libs/Profio.Infrastructure/Cache/Redis/RedisCache.cs
  libs/Profio.Infrastructure/Hub/LocationHub.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

inital keycloak
  components/docker/docker-compose.yml
  components/docker/identity/realm-export.json
  components/docker/identity/themes/profio/login/META-INF/keycloak-themes.json
  components/docker/identity/themes/profio/login/theme/components/link/primary.ftl
  components/docker/identity/themes/profio/login/theme/components/link/secondary.ftl
  components/docker/identity/themes/profio/login/theme/resources/css/login.css
  components/docker/identity/themes/profio/login/theme/resources/img/cj-logo.png
  components/docker/identity/themes/profio/login/theme/resources/login.ftl
  components/docker/identity/themes/profio/login/theme/resources/register.ftl
  components/docker/identity/themes/profio/login/theme/resources/template.ftl
  components/docker/identity/themes/profio/login/theme/resources/theme.properties
  database/keycloak.sql
Owners: @foxminchan

add try it out by default and fix redis cache call
  libs/Profio.Infrastructure/Bus/MQTT/Internal/MqttClientService.cs
  libs/Profio.Infrastructure/Cache/Extension.cs
  libs/Profio.Infrastructure/Hub/LocationHub.cs
  libs/Profio.Infrastructure/Swagger/SwaggerConfiguration.cs
Owners: @foxminchan

fix location hub
  libs/Profio.Infrastructure/Hub/LocationHub.cs
Owners: @foxminchan

add seed license plate and update seed data command
  apps/Profio.Api/UseCases/v1/SeedController.cs
  libs/Profio.Application/Seed/Commands/SeedLicensePlateCommand.cs
  libs/Profio.Application/Seed/Queries/SeedDataCommand.cs
Owners: @nhonvo, @Slimaeus, @foxminchan
