Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

fix seed commands
  apps/Profio.Api/UseCases/v1/SeedController.cs
Owners: @nhonvo, @Slimaeus

add resource
  components/docker/identity/themes/profio/theme/keywind/login/resources/dist/assets/index-a7b84447.js
  components/docker/identity/themes/profio/theme/keywind/login/resources/dist/assets/module.esm-9a996e1c.js
  components/docker/identity/themes/profio/theme/keywind/login/resources/dist/index.css
  components/docker/identity/themes/profio/theme/keywind/login/resources/dist/index.js
  components/docker/identity/themes/profio/theme/keywind/login/resources/dist/recoveryCodes.js
  components/docker/identity/themes/profio/theme/keywind/login/resources/dist/webAuthnAuthenticate.js
  components/docker/identity/themes/profio/theme/keywind/login/resources/dist/webAuthnRegister.js
Owners: @foxminchan

update readme
  README.md
  assets/img/blocks-old.png
  assets/img/building-blocks.png
  assets/img/cms-login.png
  assets/img/cus-lookup.png
  assets/img/keycloak.png
  assets/img/pg4admin.png
Owners: @foxminchan

update readme
  README.md
Owners: @foxminchan

update simulate by direction
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/stores/location_store.dart
Owners: @foxminchan, @Slimaeus

add oidc for dev prod only
  apps/Profio.Api/appsettings.Development.json
  libs/Profio.Infrastructure/Auth/Extensions.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Swagger/ConfigureSwaggerGenOptions.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

auto connect when not connect to mqtt
  apps/profio-app/lib/stores/location_store.dart
Owners: @Slimaeus

add shared preferences
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/pages/home/home_page.dart
  apps/profio-app/lib/widgets/simulate_button.dart
  apps/profio-app/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/profio-app/pubspec.yaml
Owners: @Slimaeus

init conatinerize for cms
  apps/cms/Dockerfile
  apps/cms/nginx/default.conf
  apps/cms/nginx/nginx.conf
  apps/cms/project.json
  components/k8s/profio-api/.helmignore
  components/k8s/profio-api/Chart.yaml
  components/k8s/profio-api/templates/NOTES.txt
  components/k8s/profio-api/templates/_helpers.tpl
  components/k8s/profio-api/templates/deployment.yaml
  components/k8s/profio-api/templates/hpa.yaml
  components/k8s/profio-api/templates/ingress.yaml
  components/k8s/profio-api/templates/service.yaml
  components/k8s/profio-api/templates/serviceaccount.yaml
  components/k8s/profio-api/templates/tests/test-connection.yaml
  components/k8s/profio-api/values.yaml
  components/k8s/profio-proxy/.helmignore
  components/k8s/profio-proxy/Chart.yaml
  components/k8s/profio-proxy/templates/NOTES.txt
  components/k8s/profio-proxy/templates/_helpers.tpl
  components/k8s/profio-proxy/templates/deployment.yaml
  components/k8s/profio-proxy/templates/hpa.yaml
  components/k8s/profio-proxy/templates/ingress.yaml
  components/k8s/profio-proxy/templates/service.yaml
  components/k8s/profio-proxy/templates/serviceaccount.yaml
  components/k8s/profio-proxy/templates/tests/test-connection.yaml
  components/k8s/profio-proxy/values.yaml
  package-lock.json
  package.json
Owners: @fiezt1492, @MeiCloudie, @foxminchan

fix marker not at end location
  apps/profio-app/lib/pages/map/map_page.dart
Owners: @Slimaeus

update text for button and remove my location button
  apps/profio-app/lib/pages/home/home_page.dart
  apps/profio-app/lib/pages/map/map_page.dart
  apps/profio-app/lib/widgets/hub_info.dart
  apps/profio-app/lib/widgets/mqtt_connection_button.dart
  apps/profio-app/lib/widgets/simulate_button.dart
Owners: @Slimaeus

init nginx
  components/docker/docker-compose.o11y.yml
  components/docker/docker-compose.yml
  components/docker/nginx/configuration/custom_proxy_settings.conf
  components/docker/nginx/templates/default.conf.template
Owners: @foxminchan

Delete components/k8s/deploys/opentelemetry-collector/README.md
  components/k8s/deploys/opentelemetry-collector/README.md
Owners: @foxminchan

update charts
  components/k8s/deploys/grafana/ci/default-values.yaml
  components/k8s/deploys/grafana/ci/with-affinity-values.yaml
  components/k8s/deploys/grafana/ci/with-dashboard-json-values.yaml
  components/k8s/deploys/grafana/ci/with-dashboard-values.yaml
  components/k8s/deploys/grafana/ci/with-extraconfigmapmounts-values.yaml
  components/k8s/deploys/grafana/ci/with-image-renderer-values.yaml
  components/k8s/deploys/grafana/ci/with-persistence.yaml
  components/k8s/deploys/jaeger/README.md
  components/k8s/deploys/opentelemetry-collector/CONTRIBUTING.md
  components/k8s/deploys/opentelemetry-collector/UPGRADING.md
  components/k8s/deploys/opentelemetry-collector/ci/clusterrole-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/config-override-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/daemonset-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/deployment-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/disabling-protocols-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/multiple-ingress-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/networkpolicy-override-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/networkpolicy-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/preset-clustermetrics-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/preset-hostmetrics-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/preset-k8sevents-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/preset-kubeletmetrics-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/preset-kubernetesattributes-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/preset-logscollection-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/probes-values.yaml
  components/k8s/deploys/opentelemetry-collector/ci/statefulset-values.yaml
  components/k8s/deploys/pgadmin4/README.md
  components/k8s/deploys/pgadmin4/examples/add-oauth2-config.yaml
  components/k8s/deploys/pgadmin4/examples/add-pgpass-file.yaml
  components/k8s/deploys/pgadmin4/examples/enable-ldap-integration.yaml
  components/k8s/deploys/pgadmin4/examples/ingress-with-outside-tls-termination.yaml
  components/k8s/deploys/pgadmin4/examples/set-admin-creds.yaml
  components/k8s/deploys/seq/README.md
Owners: @foxminchan

update README
  README.md
  assets/img/graph.png
Owners: @foxminchan

update some code
  assets/img/portainer.png
  libs/Profio.Domain/ValueObjects/Address.cs
  libs/Profio.Infrastructure/Bus/MQTT/Internal/MqttClientService.cs
Owners: @foxminchan

remove test chart
  components/k8s/charts/profio-api/templates/tests/test-connection.yaml
  components/k8s/charts/profio-proxy/templates/tests/test-connection.yaml
  components/k8s/deploys/grafana/templates/tests/test-configmap.yaml
  components/k8s/deploys/grafana/templates/tests/test-podsecuritypolicy.yaml
  components/k8s/deploys/grafana/templates/tests/test-role.yaml
  components/k8s/deploys/grafana/templates/tests/test-rolebinding.yaml
  components/k8s/deploys/grafana/templates/tests/test-serviceaccount.yaml
  components/k8s/deploys/grafana/templates/tests/test.yaml
  components/k8s/deploys/pgadmin4/templates/tests/test-connection.yaml
Owners: @foxminchan

add email service for order
  apps/cms/app/(dash)/orders/AddOrder.tsx
  apps/cms/app/(dash)/orders/OrderForm.tsx
  apps/cms/features/order/order.service.ts
  apps/cms/features/order/order.types.ts
  apps/cms/features/order/useSenderEmailOrder.ts
Owners: @foxminchan

fix order useEffect
  apps/cms/app/(dash)/orders/OrderForm.tsx
Owners: @foxminchan

fix useEffect entity
  apps/cms/app/(dash)/customers/CustomerForm.tsx
  apps/cms/app/(dash)/staffs/StaffForm.tsx
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
Owners: @foxminchan

add trigger send mail when update order status
  apps/Profio.Api/UseCases/v1/SenderController.cs
  apps/Profio.Api/appsettings.Development.json
  apps/Profio.Api/appsettings.json
  apps/Profio.Website/Program.cs
  libs/Profio.Infrastructure/Auth/Extensions.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Delegate/LoggingDelegate.cs
  libs/Profio.Infrastructure/Delegate/RetryDelegate.cs
  libs/Profio.Infrastructure/Http/Extension.cs
  libs/Profio.Infrastructure/Persistence/Extension.cs
  libs/Profio.Infrastructure/Persistence/Triggers/AfterUpdateOrderTrigger.cs
  libs/Profio.Infrastructure/Swagger/ConfigureSwaggerGenOptions.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

refac code
  apps/Profio.Website/appsettings.Development.json
  apps/Profio.Website/appsettings.json
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Delegate/AuthenticationDelegate.cs
  libs/Profio.Infrastructure/Http/Extension.cs
  libs/Profio.Infrastructure/Persistence/Triggers/AfterCreateDeliveryTrigger.cs
  libs/Profio.Infrastructure/Persistence/Triggers/AfterUpdateOrderTrigger.cs
Owners: @foxminchan, @nhonvo, @Slimaeus

fix oauth2 issue
  libs/Profio.Infrastructure/Auth/Extensions.cs
  libs/Profio.Infrastructure/Swagger/ConfigureSwaggerGenOptions.cs
Owners: @foxminchan

Update Read Me
  assets/img/Grafana.png
Owners: @foxminchan

update README
  README.md
  assets/img/Zipkin.png
Owners: @foxminchan

add some helpers
  libs/Profio.Infrastructure/Abstractions/Helpers/ConfigurationHelper.cs
  libs/Profio.Infrastructure/Persistence/Helpers/DataTimeHelpers.cs
  libs/Profio.Infrastructure/Persistence/Helpers/GuidHelper.cs
Owners: @foxminchan

add jobs
  apps/Profio.Api/Program.cs
  libs/Profio.Infrastructure/Bus/MQTT/Internal/MqttClientService.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/HealthCheck/Extension.cs
  libs/Profio.Infrastructure/Hub/LocationHub.cs
  libs/Profio.Infrastructure/Jobs/Extension.cs
  libs/Profio.Infrastructure/Jobs/HangFireAuthorizationFilter.cs
  libs/Profio.Infrastructure/Jobs/StoredHistoryJob.cs
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @nhonvo, @Slimaeus, @foxminchan

update port
  apps/cms/project.json
Owners: @fiezt1492, @MeiCloudie

update delivery progress every 10 seconds
  libs/Profio.Infrastructure/Cache/Redis/IRedisCacheService.cs
  libs/Profio.Infrastructure/Cache/Redis/Internal/RedisCacheService.cs
  libs/Profio.Infrastructure/Hub/LocationHub.cs
  libs/Profio.Infrastructure/Jobs/Extension.cs
  libs/Profio.Infrastructure/Jobs/StoredHistoryJob.cs
Owners: @foxminchan

add asset
  assets/draw.io/block.drawio
  assets/img/block.png
Owners: @foxminchan

refac code
  libs/Profio.Infrastructure/Cache/Redis/Internal/RedisCacheService.cs
  libs/Profio.Infrastructure/Hub/LocationHub.cs
  libs/Profio.Infrastructure/Jobs/Extension.cs
  libs/Profio.Infrastructure/Jobs/StoredHistoryJob.cs
Owners: @foxminchan

update staff position enum
  apps/profio-app/lib/constants/profio.dart
  apps/profio-app/lib/enums/staff_position.dart
  apps/profio-app/lib/extensions/location_extension.dart
  apps/profio-app/lib/managers/location_manager.dart
  apps/profio-app/lib/models/staff.g.dart
Owners: @Slimaeus

inital bicep
  .azure/.gitkeep
  .azure/app.bicep
  .azure/app/.gitkeep
  .azure/bicepconfig.json
  .azure/infra.bicep
  .azure/infra/.gitkeep
  .azure/main.bicep
Owners: @foxminchan

add bicep file
  .azure/app.bicep
  .azure/app/.gitkeep
  .azure/app/api.bicep
  .azure/app/cms.bicep
  .azure/app/ingress.bicep
  .azure/app/proxy.bicep
  .azure/app/website.bicep
  .azure/bicepconfig.json
  .azure/infra.bicep
  .azure/infra/.gitkeep
  .azure/infra/acr.bicep
  .azure/infra/aks.bicep
  .azure/main.bicep
  apps/.gitkeep
  httpclients/auth.http
  libs/.gitkeep
Owners: @foxminchan

add ip safelist filter
  apps/Profio.Api/UseCases/v1/SystemController.cs
  apps/Profio.Api/appsettings.Development.json
  apps/Profio.Api/appsettings.json
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Filters/ClientIpCheckActionFilter.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

refac code
  libs/Profio.Infrastructure/ConfigureServices.cs
Owners: @nhonvo, @Slimaeus

add key to google map component and leave default port
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
  apps/cms/project.json
Owners: @foxminchan, @fiezt1492, @MeiCloudie

update yaml
  .github/workflows/api.yml
  .github/workflows/cms.yml
  .github/workflows/profio-api.yml
  .github/workflows/proxy.yml
  .github/workflows/website.yml
Owners: @foxminchan

update Dockerfile
  apps/Profio.Website/Dockerfile
  apps/cms/Dockerfile
Owners: @foxminchan, @fiezt1492, @MeiCloudie

ignore k8s
  .github/workflows/ci.yml
  apps/cms/Dockerfile
Owners: @foxminchan, @fiezt1492, @MeiCloudie

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus
