Repository HutechCJ/ProfioApp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foxminchan, @fiezt1492, @MeiCloudie, @nhonvo, @Slimaeus

.github/CODEOWNERS:

* @foxminchan
apps/cms/* @fiezt1492 @MeiCloudie
apps/cms-e2e/* @fiezt1492 @MeiCloudie
apps/Profio.Api @nhonvo @Slimaeus
apps/Profio.Api.Test @nhonvo
apps/profio-app @Slimaeus
libs/Profio.Application/* @nhonvo @Slimaeus
libs/Profio.Domain/* @nhonvo @Slimaeus
libs/Profio.Infrastructure/* @nhonvo @Slimaeus

update chip
  apps/cms/app/(dash)/orders/OrderList.tsx
  apps/cms/app/(dash)/vehicles/VehicleList.tsx
Owners: @foxminchan

update stack in details page
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
  apps/cms/app/(dash)/staffs/[staffId]/page.tsx
  apps/cms/app/(dash)/vehicles/[vehicleId]/page.tsx
  apps/cms/components/CopyTextButton.tsx
  apps/cms/components/paperbase/Header.tsx
  apps/cms/components/paperbase/Paperbase.tsx
Owners: @foxminchan

add SEO
  apps/Profio.Website/Middleware/RobotMiddleware.cs
  apps/Profio.Website/Pages/_Host.cshtml
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/Program.cs
  apps/Profio.Website/wwwroot/emails.csv
  apps/Profio.Website/wwwroot/images/web-preview.jpg
Owners: @foxminchan

add sms sender
  apps/Profio.Api/UseCases/v1/SenderController.cs
  apps/Profio.Api/appsettings.Development.json
  apps/Profio.Api/appsettings.json
  libs/Profio.Application/Sender/Commands/SendOrderEmailCommand.cs
  libs/Profio.Application/Sender/Commands/SendSmsCommand.cs
  libs/Profio.Application/Sender/Validators/SmsMessageValidator.cs
  libs/Profio.Domain/Constants/SmsType.cs
  libs/Profio.Domain/Contracts/SmsMessage.cs
  libs/Profio.Infrastructure/ConfigureServices.cs
  libs/Profio.Infrastructure/Message/TwilioClient.cs
  libs/Profio.Infrastructure/Profio.Infrastructure.csproj
Owners: @nhonvo, @Slimaeus, @foxminchan

add retry sms
  libs/Profio.Infrastructure/Message/TwilioClient.cs
Owners: @foxminchan

add some custom swagger
  apps/Profio.Api/UseCases/v1/SenderController.cs
  apps/Profio.Api/UseCases/v1/SystemController.cs
  apps/Profio.Api/UseCases/v2/CustomerController.cs
  apps/Profio.Api/wwwroot/css/swagger-ui.css
  apps/Profio.Api/wwwroot/icon/favicon.ico
  apps/Profio.Api/wwwroot/js/swagger-ui.js
  libs/Profio.Application/Sender/Commands/SendSmsCommand.cs
  libs/Profio.Infrastructure/Filters/ApiKeyFilter.cs
  libs/Profio.Infrastructure/Swagger/Extension.cs
  libs/Profio.Infrastructure/Swagger/SwaggerConfiguration.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update README
  README.md
  apps/Profio.Website/Profio.Website.csproj
  apps/Profio.Website/Program.cs
Owners: @foxminchan

update Send Sms command
  apps/Profio.Api/appsettings.Development.json
  apps/Profio.Api/appsettings.json
  libs/Profio.Application/Sender/Commands/SendSmsCommand.cs
  libs/Profio.Application/Sender/Validators/SmsMessageValidator.cs
  libs/Profio.Domain/Contracts/SmsMessage.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

fix spell mistake
  libs/Profio.Application/Sender/Commands/SendSmsCommand.cs
Owners: @foxminchan

return 204 for empty list order list in get by phone
  apps/Profio.Api/UseCases/v1/CustomersController.cs
Owners: @nhonvo, @Slimaeus

create logs tabs
  apps/cms/app/(dash)/orders/[orderId]/page.tsx
  apps/cms/app/(dash)/orders/page.tsx
  apps/cms/app/(dash)/staffs/page.tsx
  apps/cms/app/(dash)/vehicles/page.tsx
Owners: @foxminchan

fix wrong phase field name in order Dto
  libs/Profio.Application/Orders/OrderDTO.cs
Owners: @foxminchan

add loader
  apps/Profio.Website/Pages/Index.razor
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Program.cs
  apps/Profio.Website/appsettings.Development.json
  apps/Profio.Website/appsettings.json
  apps/Profio.Website/wwwroot/css/app.css
Owners: @foxminchan

update navigator and user service
  apps/cms/components/navItems.tsx
  apps/cms/components/paperbase/Header.tsx
  apps/cms/components/paperbase/Navigator.tsx
  apps/cms/features/user/useUser.ts
Owners: @foxminchan

fix user data
  apps/cms/app/(dash)/UserGreeting.tsx
  apps/cms/components/paperbase/Navigator.tsx
Owners: @foxminchan

add Services for get data from api
  apps/Profio.Website/Data/Common/BaseApiService.cs
  apps/Profio.Website/Data/Common/Dtos/AddressDto.cs
  apps/Profio.Website/Data/Common/Dtos/PagedListDto.cs
  apps/Profio.Website/Data/Common/Dtos/ResultModel.cs
  apps/Profio.Website/Data/Customers/CustomerService.cs
  apps/Profio.Website/Data/Customers/ICustomerService.cs
  apps/Profio.Website/Data/Orders/OrderDto.cs
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Program.cs
  apps/Profio.Website/appsettings.Development.json
  apps/Profio.Website/appsettings.json
Owners: @foxminchan

create user page
  apps/cms/app/(dash)/users/UserList.tsx
  apps/cms/app/(dash)/users/page.tsx
  apps/cms/components/paperbase/Header.tsx
  apps/cms/components/paperbase/Paperbase.tsx
  apps/cms/features/user/useGetUsers.ts
  apps/cms/features/user/user.service.ts
Owners: @foxminchan

update customer service
  apps/cms/app/(dash)/customers/page.tsx
  apps/cms/features/customer/customer.service.ts
  apps/cms/features/customer/useCreateCustomer.ts
  apps/cms/features/customer/useDeleteCustomer.ts
  apps/cms/features/customer/useGetCustomer.ts
  apps/cms/features/customer/useGetCustomers.ts
  apps/cms/features/customer/useUpdateCustomer.ts
Owners: @foxminchan

create custom list page
  apps/cms/app/(dash)/customers/AddCustomer.tsx
  apps/cms/app/(dash)/customers/CustomerForm.tsx
  apps/cms/app/(dash)/customers/CustomerList.tsx
  apps/cms/app/(dash)/customers/EditCustomer.tsx
  apps/cms/app/(dash)/customers/page.tsx
  apps/cms/features/customer/customer.types.ts
Owners: @foxminchan

refac project blazor
  apps/Profio.Website/Data/Common/AddressDto.cs
  apps/Profio.Website/Data/Common/PagedListDto.cs
  apps/Profio.Website/Data/Common/ResultModel.cs
  apps/Profio.Website/Data/Orders/OrderDto.cs
  apps/Profio.Website/Pages/Index.razor.cs
  apps/Profio.Website/Program.cs
  apps/Profio.Website/Repositories/Repository.cs
  apps/Profio.Website/Services/CustomerService.cs
  apps/Profio.Website/Services/ICustomerService.cs
Owners: @foxminchan

adjuect naming
  apps/Profio.Website/Repositories/Repository.cs
Owners: @foxminchan

update list and create details page for customer
  apps/cms/app/(dash)/customers/CustomerForm.tsx
  apps/cms/app/(dash)/customers/CustomerList.tsx
  apps/cms/app/(dash)/customers/[customerId]/page.tsx
Owners: @foxminchan

update customer list for order form
  apps/cms/app/(dash)/orders/OrderForm.tsx
  apps/cms/app/(dash)/vehicles/VehicleForm.tsx
Owners: @foxminchan

refac repository
  apps/Profio.Website/Program.cs
  apps/Profio.Website/Repositories/IRepository.cs
  apps/Profio.Website/Repositories/Repository.cs
  apps/Profio.Website/Services/CustomerService.cs
Owners: @foxminchan

add change password for user service
  apps/cms/features/user/user.service.ts
  apps/cms/features/user/user.types.ts
Owners: @foxminchan

update user service
  apps/cms/features/user/useChangePassword.ts
Owners: @foxminchan

edit route
  apps/Profio.Website/Services/CustomerService.cs
Owners: @foxminchan

move get orders by phone to orders controller
  apps/Profio.Api/UseCases/v1/CustomersController.cs
  apps/Profio.Api/UseCases/v1/OrdersController.cs
  apps/Profio.Website/Services/CustomerService.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

refactor get order list by phone
  apps/Profio.Api/UseCases/v1/CustomersController.cs
  apps/Profio.Api/UseCases/v1/OrdersController.cs
  apps/Profio.Website/Program.cs
  apps/Profio.Website/Services/CustomerService.cs
  libs/Profio.Application/Customers/Queries/GetOrderByCustomerPhoneNumberWithPagingQuery.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

fix cors
  libs/Profio.Infrastructure/ConfigureServices.cs
Owners: @nhonvo, @Slimaeus

update change password
  apps/cms/app/(dash)/settings/ChangePasswordCard.tsx
  apps/cms/app/(dash)/settings/UserDetailsCard.tsx
  apps/cms/app/(dash)/settings/page.tsx
Owners: @foxminchan

update customer details page
  apps/cms/app/(dash)/customers/[customerId]/page.tsx
Owners: @foxminchan

update swal change password
  apps/cms/app/(dash)/settings/ChangePasswordCard.tsx
  apps/cms/app/(dash)/settings/UserDetailsCard.tsx
Owners: @foxminchan

added signalR
  package-lock.json
  package.json
Owners: @foxminchan

added connection and hook
  apps/cms/.env.local
  apps/cms/@types/global.d.ts
  apps/cms/common/hooks/useSignalR.ts
Owners: @fiezt1492, @MeiCloudie, @foxminchan

updated google map with ws connection
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
Owners: @foxminchan

add upload img
  apps/Profio.Api/UseCases/v1/UsersController.cs
  libs/Profio.Application/Users/AccountDTO.cs
  libs/Profio.Application/Users/Commands/UploadImage/UploadImageCommand.cs
  libs/Profio.Application/Users/UserDTO.cs
Owners: @nhonvo, @Slimaeus, @foxminchan

update change passw0rd
  apps/cms/app/(dash)/settings/ChangePasswordCard.tsx
Owners: @foxminchan

update comment some unused code
  apps/cms/app/(dash)/customers/page.tsx
  apps/cms/app/(dash)/orders/page.tsx
  apps/cms/app/(dash)/settings/ChangePasswordCard.tsx
  apps/cms/app/(dash)/staffs/page.tsx
  apps/cms/app/(dash)/vehicles/page.tsx
  apps/cms/components/paperbase/Header.tsx
Owners: @foxminchan

cms singalr updated
  apps/cms/.env.local
  apps/cms/@types/global.d.ts
  apps/cms/app/(dash)/orders/[orderId]/GoogleMap.tsx
  apps/cms/common/hooks/useSignalR.ts
  apps/cms/next.config.js
Owners: @fiezt1492, @MeiCloudie, @foxminchan
